Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

Version Packages (#468)
  .changeset/warm-fishes-agree.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

test: add tests for claimant tuple field support
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat: add tuple support for claimant parameter
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/hungry-shirts-scream.md
Labels: changeset

chore: update comment
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[BOOST-5790] add tuple support for claimant in sdk (#469)
  .changeset/hungry-shirts-scream.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

Version Packages (#470)
  .changeset/hungry-shirts-scream.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

chore: updates dependencies
  packages/evm/foundry.toml
Labels: EVM

chore: install OZ foundry upgrades
  .gitmodules
Labels: none

chore: remove unused dependencies
  .gitmodules
  packages/evm/foundry.toml
Labels: EVM

feat(evm): UUPS upgradeable BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore(evm): clean up declaration shadows
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Labels: EVM

feat(evm): add upgradeability to deploy script
  packages/evm/script/solidity/Deploy.s.sol
Labels: EVM

test(evm): utilize OZ Upgrades contract
  .gitmodules
  packages/evm/foundry.toml
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore(evm): update script to use OZ Upgrades contract
  packages/evm/script/solidity/Deploy.s.sol
Labels: EVM

chore(evm): remove unnecessary Initializable import
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): exclude OZ Initializable from wagmi generate
  packages/evm/wagmi.config.ts
Labels: EVM

chore(evm): add forge clean to test commands
  packages/evm/package.json
Labels: EVM

fix(sdk): enable tests to utilize UUPS proxy
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  test/src/helpers.ts
Labels: SDK

fix(cli): update the BoostCore deployment
  packages/cli/src/commands/deploy.ts
Labels: none

chore: add clean command
  packages/evm/package.json
Labels: EVM

chore: explicitly build evm package
  .github/workflows/verify.yml
Labels: none

fix(evm): replace OZ upgrade with solady
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore: remove unused dependency
  .gitmodules
Labels: none

chore: restore commands
  packages/evm/package.json
Labels: EVM

chore: remove evm build
  .github/workflows/verify.yml
Labels: none

chore: add fixture
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

chore: updates dependencies
  packages/evm/foundry.toml
Labels: EVM

chore: install OZ foundry upgrades
  .gitmodules
Labels: none

feat(evm): UUPS upgradeable BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore(evm): clean up declaration shadows
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Labels: EVM

feat(evm): add upgradeability to deploy script
  packages/evm/script/solidity/Deploy.s.sol
Labels: EVM

test(evm): utilize OZ Upgrades contract
  .gitmodules
  packages/evm/foundry.toml
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore(evm): update script to use OZ Upgrades contract
  packages/evm/script/solidity/Deploy.s.sol
Labels: EVM

chore(evm): remove unnecessary Initializable import
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): exclude OZ Initializable from wagmi generate
  packages/evm/wagmi.config.ts
Labels: EVM

fix(sdk): enable tests to utilize UUPS proxy
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  test/src/helpers.ts
Labels: SDK

fix(cli): update the BoostCore deployment
  packages/cli/src/commands/deploy.ts
Labels: none

refactor: replace Upgrades with ERC1967Proxy in tests
  packages/evm/foundry.lock
  packages/evm/package.json
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  pnpm-lock.yaml
Labels: EVM

style: Clean up whitespace in test files
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
