Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

docs: Add upgrade reference annotation to TimeBasedIncentiveManager
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

archive: Add TimeBasedIncentiveManagerV1 for upgrade safety
  packages/evm/contracts/archive/TimeBasedIncentiveManagerV1.sol
Labels: EVM

test: Add ValidateTimeBasedUpgrade script for upgrade safety
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
Labels: EVM

feat: Add version() method to TimeBasedIncentiveManager
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

script: Add UpgradeTimeBased deployment script
  packages/evm/script/solidity/UpgradeTimeBased.s.sol
Labels: EVM

chore: Record broadcast transactions for TimeBased upgrade
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1772228635481.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-latest.json
Labels: EVM

chore: Update TimeBasedIncentiveCampaign address in deploys
  packages/evm/deploys/84532.json
Labels: EVM

[ADHOC] Upgrade TimeBasedIncentiveManager to V2 on BaseSepolia (#521)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1772228635481.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-latest.json
  packages/evm/contracts/archive/TimeBasedIncentiveManagerV1.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/UpgradeTimeBased.s.sol
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
Labels: EVM

chore: deploy tbi V2 upgrade on worldchain
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1772240058954.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Labels: EVM

[ADHOC] Deploy Time-Based Incentive V2 upgrade on Worldchain (#522)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1772240058954.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Labels: EVM

fix: apply early finalization condition to manager withdrawal
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

docs: clarify campaign end conditions in updateRootsBatch
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

feat: enable early campaign finalization when budget fully committed
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
Labels: EVM

test: add comprehensive early finalization test suite
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

[BOOST-6262] Enable early campaign finalization when budget fully committed (#523)
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

chore: add broadcast artifacts for time-based upgrade deployment
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1773769048319.json
Labels: EVM

feat: add TimeBasedIncentiveManagerV2 archive for upgrade safety
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV2.sol
Labels: EVM

chore: reorganize time-based incentive archive structure
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV1.sol
Labels: EVM

style: improve code formatting in tests
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

chore: update deployed contract address for campaign implementation
  packages/evm/deploys/84532.json
Labels: EVM

chore: update upgrade reference from V1 to V2 archive
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
Labels: EVM

bump: version to 2.1.0
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

[ADHOC] budget exhaustion release basesepolia (#524)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1773769048319.json
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV1.sol
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV2.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

chore: deploy tbi upgrade v2_1 to world
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1773796309599.json
  packages/evm/deploys/480.json
Labels: EVM

[ADHOC] Deploy TimeBasedIncentive upgrade v2.1 to worldchain (#525)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1773796309599.json
  packages/evm/deploys/480.json
Labels: EVM

feat: upgrade time-based incentive manager with enhanced implementation
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-1773860150725.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-latest.json
Labels: EVM

feat: add time-based incentive campaign and manager contracts
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859752147.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859879874.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Labels: EVM

[ADHOC] Deploy time-based incentive contracts on Base (#526)
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859752147.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859879874.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-1773860150725.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Labels: EVM

chore(sdk): update signer
  packages/sdk/.env.sample
Labels: SDK

fix: improve error handling in Hardhat process stderr logging
  test/src/setup.hardhat.ts
Labels: none

chore: add changeset
  .changeset/three-readers-deny.md
Labels: changeset

[ADHOC] update default validator signer in sdk (#527)
  .changeset/three-readers-deny.md
  packages/sdk/.env.sample
  test/src/setup.hardhat.ts
Labels: SDK, changeset

Version Packages (canary) (#528)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

feat: add BoostForwarder UUPS upgradeable proxy contract
  packages/evm/contracts/timebased/BoostForwarder.sol
Labels: EVM

feat: add BoostForwarderAdapters with protocol deposit implementations
  packages/evm/contracts/timebased/BoostForwarderAdapters.sol
Labels: EVM

test: add comprehensive BoostForwarder test suite
  packages/evm/test/timebased/BoostForwarder.t.sol
Labels: EVM

feat: add deployment script for BoostForwarder proxy
  packages/evm/script/solidity/Deploy_BoostForwarder.s.sol
Labels: EVM

feat: add upgrade script for BoostForwarder implementation
  packages/evm/script/solidity/Upgrade_BoostForwarder.s.sol
Labels: EVM

chore: rename to TBIForwarder
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

chore: update stale natspec
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
Labels: EVM
