Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, examples, documentation

.github/labeler.yml:

"SDK":
  - "packages/sdk/**/*"
"EVM":
  - "packages/evm/**/*"
"examples":
  - "packages/examples/**/*"
"documentation":
  - "docs/**/*"

fix(sdk): build, publish sourcemaps
  .changeset/empty-feet-cheat.md
  packages/sdk/package.json
  packages/sdk/vite.config.js
Labels: SDK

test(sdk): add viability tests for zora NFT collection
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore(evm): shadow hardhat in the evm repo
  packages/evm/hardhat_build.config.cjs
  packages/evm/package.json
  packages/evm/wagmi.config.ts
  pnpm-lock.yaml
Labels: EVM

refactor(sdk): cleanup zora viability test
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

fix(sdk,EventAction): fix env passthrough for base address
  .changeset/popular-books-destroy.md
  packages/sdk/src/Actions/EventAction.ts
  turbo.json
Labels: SDK

refactor(sdk): tweak sdk to use vitest native env helpers
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  packages/sdk/vitest.config.ts
Labels: SDK

test(sdk): use skipIf to skip test if key isn't defined
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore(sdk): address @sammccord nits
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

changes
  packages/sdk/package.json
  packages/sdk/test/delegate-action.test.ts
Labels: SDK

chore(evm): shadow hardhat in the evm repo
  packages/evm/hardhat_build.config.cjs
  packages/evm/package.json
  packages/evm/wagmi.config.ts
  pnpm-lock.yaml
Labels: EVM

test(sdk): initial fork test for zora mint; missing params
  packages/sdk/.env.sample
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore(signatures): add Purchased from Zora
  packages/signatures/manifests/events.json
Labels: none

fix(sdk): fix bug with fork behavior using mine()
  package.json
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  pnpm-lock.yaml
Labels: SDK

test(sdk): create boost working in fork tests
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(sdk): zora fork test to use dotenv and reset
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore: install dotenv
  package.json
  pnpm-lock.yaml
Labels: none

chore(sdk): address @sammccord nits
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

refactor(sdk): tweak sdk to use vitest native env helpers
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  packages/sdk/vitest.config.ts
Labels: SDK

refactor(sdk): cleanup zora viability test
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(sdk): add viability tests for zora NFT collection
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(sdk): use skipIf to skip test if key isn't defined
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

refactor(sdk): tweak sdk to use vitest native env helpers
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  packages/sdk/vitest.config.ts
Labels: SDK

test(sdk): add viability tests for zora NFT collection
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore: install dotenv
  package.json
  pnpm-lock.yaml
Labels: none

chore(sdk): address @sammccord nits
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

fix(sdk): fix bug with fork behavior using mine()
  package.json
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  pnpm-lock.yaml
Labels: SDK

test(sdk): initial fork test for zora mint; missing params
  packages/sdk/.env.sample
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore(signatures): add Purchased from Zora
  packages/signatures/manifests/events.json
Labels: none

refactor(sdk): cleanup zora viability test
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(sdk): zora fork test to use dotenv and reset
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(sdk): use skipIf to skip test if key isn't defined
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(sdk): create boost working in fork tests
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

add ens changes
  packages/evm/deploys/componentInterfaces.json
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/ens-register-mint.test.ts
  packages/signatures/manifests/events.json
Labels: SDK, EVM

add delegate event
  packages/sdk/test/event-delegate-action.test.ts
Labels: SDK

add ens register test
  packages/sdk/test/ens-register.test.ts
Labels: SDK

add delegate funciton test
  packages/sdk/test/delegate-action.test.ts
Labels: SDK

add event sigs
  packages/signatures/manifests/events.json
Labels: none

fix(EventAction): await validation in log criteria check
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

cleanup
  packages/sdk/test/ens-register.test.ts
  packages/sdk/test/event-delegate-action.test.ts
Labels: SDK

fix: migrate EventAction signature to bytes32
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/signatures/build.js
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: SDK, EVM
