Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

[ADHOC] fix(sdk,EventAction): transactionSenderClaimant needs chainId, accept all GetTransactionParametters in validation (#235)
  .changeset/great-roses-sort.md
  .changeset/soft-schools-warn.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

Version Packages (alpha) (#236)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

feat(sdk,EventAction): add notBeforeBlockNumber to validate params
  .changeset/tricky-phones-dream.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

Version Packages (alpha) (#238)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

fix: only decode matched events
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: add changeset
  .changeset/shaggy-moose-fry.md
Labels: changeset

[ADHOC] Fix `DecodeLogTopicsMismatch` Error (#240)
  .changeset/shaggy-moose-fry.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

test(evm): create test for signature malleability
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

feat: add OR_EQUAL filters to event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, EVM

feat(evm): add max reward to variable criteria incentive
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

test(evm): max reward in variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

feat(sdk): add ts helper changes necesary to support max reward
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

fix(evm): ensure additional protocol fees can be set on a per-boost basis
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

refactor(evm): remove unused bytes data in add incentive
  packages/evm/contracts/BoostCore.sol
Labels: EVM

[ADHOC] refactor(evm): remove unused bytes data in add incentive (#246)
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): create test for signature malleability
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

Version Packages (alpha) (#241)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

fix(sdk): set per-boost protocol fee to 0
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

fix(sdk): update maxReward in variable criteria incentive tests
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Labels: SDK

fix(sdk): cleanup maxReward issues in variable criteria incentive helper
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

feat: add OR_EQUAL filters to event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, EVM

fix(evm): ensure additional protocol fees can be set on a per-boost basis
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(sdk): set per-boost protocol fee to 0
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

feat(sdk): add ts helper changes necesary to support max reward
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

feat(evm): add max reward to variable criteria incentive
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

test(evm): max reward in variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

fix(sdk): cleanup maxReward issues in variable criteria incentive helper
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

fix(sdk): update maxReward in variable criteria incentive tests
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Labels: SDK

chore: deploy contracts to sepolia and base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1730299498.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1730299991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299576.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299603.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299615.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299627.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299640.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299651.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299663.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299689.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299917.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1730300429.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Labels: EVM

Create early-rats-perform.md
  .changeset/early-rats-perform.md
Labels: changeset

chore: deploy contracts to sepolia and base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1730299498.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1730299991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299576.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299603.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299615.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299627.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299640.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299651.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299663.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299689.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299917.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1730300429.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Labels: EVM

Create early-rats-perform.md
  .changeset/early-rats-perform.md
Labels: changeset

chore: docs, createBoost signature
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
Labels: SDK

chore: fix deployableOptions
  packages/sdk/src/BoostCore.ts
Labels: SDK

refactor(Budgets): deprecate ManagedBudgetRoles for RBAC Roles
  packages/sdk/src/Budgets/ManagedBudget.ts
Labels: SDK

fix: update ManagedBudgetRoles to Roles in helpers.ts
  test/src/helpers.ts
Labels: none

chore: add changeset for deprecating ManagedBudgetRoles enum
  .changeset/lazy-cows-sip.md
Labels: changeset

chore(sdk): remove evm as optional dep
  .npmrc
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: none

chore(sdk): undo unnecessary pnpm lock
  .npmrc
  pnpm-lock.yaml
Labels: none

chore(sdk): tweak turbo config to force dep graph
  .pnpmfile.cjs
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Labels: SDK
