Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

feat(evm): add auth to clawback in BoostCore
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add protocol fee settlement
  packages/evm/contracts/BoostCore.sol
Labels: EVM

ci(evm,viaIR): add param for successful evm build
  packages/evm/package.json
Labels: EVM

test(evm): update incentive clawback tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

fix(evm): transfer to claim target not protocol fee receiver
  .vscode/settings.json
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): change initial perms on incentive
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

fix(evm): cleanup clawback interfaces and returns
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
Labels: EVM

feat(evm): remove manager from incentive initpayloads
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

fix(zora): decrease incentive limit after taking protocol fee up front
  examples/zora-mint/src/zora-mint.test.ts
Labels: examples

chore(sdk): change interface comments
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

test(sdk): update SDK amounts to account for protocol fees
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

feat(evm): remove manager from RBAC perms
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

feat(evm): fix core handling of non-token incentives
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): remove hoaxes to pass tests
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat: remove all referral fee references
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Labels: SDK, EVM, examples

fix(evm): transfer to claim target not protocol fee receiver
  .vscode/settings.json
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add protocol fee settlement
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): change initial perms on incentive
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

feat(evm): add incentive information in the _makeIncentives call
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add auth to clawback in BoostCore
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): update incentive clawback tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

fix(evm): cleanup clawback interfaces and returns
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
Labels: EVM

fix(evm): change the clawback code call in core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): fix core handling of non-token incentives
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): fix fee handling in tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(zora): decrease incentive limit after taking protocol fee up front
  examples/zora-mint/src/zora-mint.test.ts
Labels: examples

feat(evm): add fee balance tracking to BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostError.sol
Labels: EVM

test(evm): remove hoaxes to pass tests
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat(evm): pay out protocol fees on claim
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): clawback with 0 amount
  packages/evm/test/BoostCore.t.sol
Labels: EVM

ci(evm,viaIR): add param for successful evm build
  packages/evm/package.json
Labels: EVM

chore(sdk): change interface comments
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

test(sdk): update SDK amounts to account for protocol fees
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

test(evm): add fuzz tests for clawbacks
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): switch clawbackFromTarget in ABudget
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

feat(evm): remove manager from incentive initpayloads
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat(evm): remove unused fee state
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): remove manager from RBAC perms
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

feat(evm): add clawback to BoostCore
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add protocol fee handling in make incentives calls
  packages/evm/contracts/BoostCore.sol
Labels: EVM
