Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

feat: add manager back to erc20 incentive for raffle
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/sdk/src/Incentives/ERC20Incentive.ts
Labels: SDK, EVM

feat(sdk): make allowlist optional, default to openallowlist
  packages/cli/src/commands/deploy.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
  test/src/viem.ts
Labels: SDK

[BOOST-4821] add `grantManyRoles` and `revokeManyRoles` methods to RBAC (#212)
  .changeset/poor-feet-destroy.md
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
Labels: SDK, EVM, changeset

chore: sync
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Labels: SDK

feat: add manager back to erc20 incentive for raffle
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/sdk/src/Incentives/ERC20Incentive.ts
Labels: SDK, EVM

chore: set up viet builds for signatures package
  packages/signatures/package.json
  packages/signatures/src/build.ts
  packages/signatures/src/index.ts
  packages/signatures/tsconfig.json
  packages/signatures/vite.config.ts
Labels: signatures

chore: fix up
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/vitest.config.ts
Labels: SDK

chore: changeset
  .changeset/stale-snakes-search.md
Labels: changeset

[ADHOC] chore(sdk): better support for linking, (#216)
  .changeset/stale-snakes-search.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite.config.js
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Labels: SDK, changeset

chore: don't publish sdk and signatures together
  .changeset/config.json
  .changeset/curly-rice-cough.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  test/package.json
  test/src/allKnownSignatures.ts
Labels: SDK, changeset

chore: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

feat(signatures): add new event and function signatures
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: signatures

chore: generate changeset
  .changeset/clean-suits-tie.md
Labels: changeset

chore: fixup examples
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/vitest.config.ts
Labels: SDK, examples

chore: deploy to sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1729631460.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729631990.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729632338.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: typo
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: undo hardhat setup
  packages/sdk/vitest.config.ts
Labels: SDK

chore: deploy to base sepolia
  packages/evm/broadcast/Deploy.s.sol/84532/run-1729633231.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1729633314.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1729633783.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: deploy to sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1729631460.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729631990.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729632338.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: deploy to base sepolia
  packages/evm/broadcast/Deploy.s.sol/84532/run-1729633231.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1729633314.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1729633783.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

[ADHOC] feat(sdk): mandatory knownSignatures for validation (#217)
  .changeset/config.json
  .changeset/curly-rice-cough.md
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
  test/package.json
  test/src/allKnownSignatures.ts
Labels: SDK, examples, changeset

[ADHOC]: add signatures for sound and zora (#218)
  .changeset/clean-suits-tie.md
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: signatures, changeset

Version Packages (alpha) (#214)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, EVM, signatures

chore(evm): migrate IncentiveBits to its own file
  packages/evm/contracts/shared/IncentiveBits.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/shared/IncentiveBits.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

feat(evm): implement LimitedSignerValidator
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/contracts/validators/ALimitedSignerValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/LimitedSignerValidator.t.sol
Labels: EVM

feat(sdk,EventAction): add msgSenderClaimant utility, test
  .changeset/fair-chicken-confess.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

chore: address feedback, rename to transactionSenderClaimant
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: fix changeset
  .changeset/fair-chicken-confess.md
Labels: changeset

[ADHOC] feat(sdk,EventAction): add msgSenderClaimant utility, test (#221)
  .changeset/fair-chicken-confess.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat: add FlexibleFeeBudget contract for fee management
  packages/evm/contracts/budgets/FlexibleFeeBudget.sol
Labels: EVM

test(FlexibleFeeBudget): add initial tests for FlexibleFeeBudget
  packages/evm/test/budgets/FlexibleFeeBudget.t.sol
Labels: EVM

chore: format
  packages/evm/contracts/budgets/FlexibleFeeBudget.sol
Labels: EVM

Version Packages (alpha) (#223)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

feat(sdk): add helper for gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

test(sdk): helpers for variable criteria gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Labels: SDK

style(test): Update comments for FlexibleFeeBudget tests
  packages/evm/test/budgets/FlexibleFeeBudget.t.sol
Labels: EVM

feat(budgets): add IFlexibleFee interface and extend contract
  packages/evm/contracts/budgets/FlexibleFeeBudget.sol
  packages/evm/contracts/budgets/IFlexibleFee.sol
Labels: EVM

chore(evm): migrate IncentiveBits to its own file
  packages/evm/contracts/shared/IncentiveBits.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/shared/IncentiveBits.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

feat(evm): implement LimitedSignerValidator
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/contracts/validators/ALimitedSignerValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/LimitedSignerValidator.t.sol
Labels: EVM

feat(sdk): implement LimitedSignerValidator in the SDK
  .changeset/sweet-shrimps-prove.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Validators/LimitedSignerValidator.test.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, changeset
