Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

chore: generate changeset
  .changeset/wicked-pens-cover.md
Labels: changeset

fix: build claim data
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

chore: add changeset
  .changeset/slow-apricots-heal.md
Labels: changeset

[ADHOC] Build Claim Data for ERC20PeggedIncentive (#311)
  .changeset/slow-apricots-heal.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, changeset

Chore(evm): deploy on base & base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733503766.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733504284.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733504111.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733504620.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
Labels: EVM

Create heavy-shirts-doubt.md
  .changeset/heavy-shirts-doubt.md
Labels: changeset

Chore(evm): deploy on base & base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733503766.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733504284.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733504111.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733504620.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
Labels: EVM

Create heavy-shirts-doubt.md
  .changeset/heavy-shirts-doubt.md
Labels: changeset

chore: deploy onto sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733522693.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Labels: EVM

Create sweet-cougars-live.md
  .changeset/sweet-cougars-live.md
Labels: changeset

chore: deploy onto sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733522693.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Labels: EVM

Create sweet-cougars-live.md
  .changeset/sweet-cougars-live.md
Labels: changeset

chore: fix core an registry addresses
  packages/evm/deploys/84532.json
Labels: EVM

chore: fix core an registry addresses
  packages/evm/deploys/84532.json
Labels: EVM

chore: add changeset for deployment
  .changeset/hot-points-begin.md
Labels: changeset

chore: add changeset for deployment
  .changeset/hot-points-begin.md
Labels: changeset

feat(evm): add protocol fee token to core
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
Labels: EVM

test(evm): add protocol asset to protocol fee module mock and test
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore(evm): cleanup comments and loose code
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): add protocol asset to protocol fee module mock and test
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): add protocol fee token to core
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
Labels: EVM

chore(evm): cleanup comments and loose code
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): deploy on base, sepolia & base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733855708.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733855795.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733856937.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733856476.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855816.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855868.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855882.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855897.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733856409.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733857430.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733856825.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

Create shy-wombats-beg.md
  .changeset/shy-wombats-beg.md
Labels: changeset

Update shy-wombats-beg.md
  .changeset/shy-wombats-beg.md
Labels: changeset

chore(evm): deploy on base, sepolia & base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733855708.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733855795.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733856937.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733856476.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855816.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855868.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855882.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855897.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733856409.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733857430.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733856825.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

Update shy-wombats-beg.md
  .changeset/shy-wombats-beg.md
Labels: changeset

Create shy-wombats-beg.md
  .changeset/shy-wombats-beg.md
Labels: changeset

test: add test for protocol fee transfer in BoostCore
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix: update asset balance retrieval logic to use incentive address
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore: generate changeset
  .changeset/five-numbers-hide.md
Labels: changeset

refactor: pass incentive contract instead of boost+id
  packages/evm/contracts/BoostCore.sol
Labels: EVM

core: format
  packages/evm/contracts/BoostCore.sol
Labels: EVM

core: format
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore: generate changeset
  .changeset/five-numbers-hide.md
Labels: changeset

fix: update asset balance retrieval logic to use incentive address
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test: add test for protocol fee transfer in BoostCore
  packages/evm/test/BoostCore.t.sol
Labels: EVM

refactor: pass incentive contract instead of boost+id
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): sweep the dust in boost core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore(evm): sweep the dust in boost core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM
