Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

feat(evm): incentives can be toped up without a budget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add topups from budgets to boost core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(sdk): correct asset retrieval in getTopupPayload
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

test(sdk): add running incentive topup test
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

fix(evm): correct total amount handling and encoing
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(sdk): throw if topup is zero in SDK
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat(sdk): add topup payload helpers to incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

feat(sdk): account for fee as an additional amount instead of a discounted amount
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): tweak topup accounting in topupIncentiveFromSender
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): enable topup fuzz testing
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

feat(evm): implement Topup events in core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(sdk): typo in getTopupPayload call
  packages/sdk/src/BoostCore.ts
Labels: SDK

test(evm): uncomment the assertion in the topup fuzz test
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore(evm): update registry string in deploy modules script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: broadcast deployments
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1737751733.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1737753961.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1737753635.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1737753567.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1737754177.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1737753824.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

Create stale-ties-know.md
  .changeset/stale-ties-know.md
Labels: changeset

chore(evm): deploy managed budget with fee v2
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1737755204.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1737755098.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1737755143.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

Create stale-ties-know.md
  .changeset/stale-ties-know.md
Labels: changeset

chore(evm): deploy managed budget with fee v2
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1737755204.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1737755098.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1737755143.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): update registry string in deploy modules script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: broadcast deployments
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1737751733.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1737753961.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1737753635.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1737753567.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1737754177.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1737753824.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

fix(evm): silence 0-depth reverts
  packages/evm/test/shared/IncentiveBits.t.sol
Labels: EVM

test(evm): use stable foundry in ci
  .github/actions/install-dependencies/action.yml
Labels: none

fix(evm): silence 0-depth reverts
  packages/evm/test/shared/IncentiveBits.t.sol
Labels: EVM

test(evm): use stable foundry in ci
  .github/actions/install-dependencies/action.yml
Labels: none

fix(errors): correct error message in BoostNotFoundError
  packages/sdk/src/errors.ts
Labels: SDK

feat(evm): bbbbb token
  packages/evm/contracts/tokens/bbbbb.sol
Labels: EVM

test(evm): bbbbb token
  packages/evm/test/tokens/bbbbb.t.sol
Labels: EVM

fix(sdk): some params for calls were ReadParams vs WriteParams
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK

chore: set viem dep to override sub deps to local
  package.json
  pnpm-lock.yaml
Labels: none

fix(sdk): tweak ReadParams vs WriteParams in core
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: set viem dep to override sub deps to local
  package.json
  pnpm-lock.yaml
Labels: none

fix(sdk): some params for calls were ReadParams vs WriteParams
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK

fix(sdk): tweak ReadParams vs WriteParams in core
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat(evm): add authorized clawbacks from incentives to TransparentBudget
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

feat(evm): implement Transparent Budget and Boost Creation flow
  packages/evm/contracts/budgets/ATransparentBudget.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

[ADHOC] fix typo in BoostNotFoundError (#384)
  packages/sdk/src/errors.ts
Labels: SDK
