Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

chore(evm): rename incentive to newIncentive to avoid shadowing
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): rm via-ir
  packages/evm/package.json
Labels: EVM

chore(evm): rename currentReward to currentRewardAmount
  packages/evm/contracts/incentives/CGDAIncentive.sol
Labels: EVM

chore(evm): lint fix
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): remove unused code
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(sdk,BoostRegistry): add initializeRaw method
  .changeset/swift-ties-guess.md
  packages/sdk/src/BoostRegistry.ts
Labels: SDK, changeset

chore(evm): remove unused code
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore(evm): lint fix
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): rm via-ir
  packages/evm/package.json
Labels: EVM

chore(evm): rename currentReward to currentRewardAmount
  packages/evm/contracts/incentives/CGDAIncentive.sol
Labels: EVM

chore(evm): rename incentive to newIncentive to avoid shadowing
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): tweak managed budget disbursal tracking
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
Labels: EVM

chore(evm): move hardhat cache from `cache` to `cache_hh`
  .gitignore
  packages/evm/hardhat_build.config.cjs
Labels: EVM

chore(evm): move hardhat cache from `cache` to `cache_hh`
  .gitignore
  packages/evm/hardhat_build.config.cjs
Labels: EVM

feat(evm): convert clawback to return uint256
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
Labels: EVM

feat(evm): make asset public on incentives
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

feat(evm): discount distributed amount in clawback
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/shared/IClaw.sol
Labels: EVM

feat(evm): pass asset address up through the fclawback calls
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
Labels: EVM

test(evm): fix eq vs gt for tests
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
Labels: EVM

chore: removes unused getAmount
  packages/evm/contracts/budgets/ManagedBudget.sol
Labels: EVM

chore: removes unneeded clawbackFromTarget override
  packages/evm/contracts/budgets/AManagedBudget.sol
Labels: EVM

refactor(evm): default asset to 0xdead
  packages/evm/contracts/incentives/AIncentive.sol
Labels: EVM

chore: removes unused getAmount
  packages/evm/contracts/budgets/ManagedBudget.sol
Labels: EVM

test(evm): fix eq vs gt for tests
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
Labels: EVM

feat(evm): make asset public on incentives
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

feat(evm): pass asset address up through the fclawback calls
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
Labels: EVM

refactor(evm): default asset to 0xdead
  packages/evm/contracts/incentives/AIncentive.sol
Labels: EVM

chore: removes unneeded clawbackFromTarget override
  packages/evm/contracts/budgets/AManagedBudget.sol
Labels: EVM

feat(evm): tweak managed budget disbursal tracking
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
Labels: EVM

feat(evm): convert clawback to return uint256
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
Labels: EVM

feat(evm): discount distributed amount in clawback
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/shared/IClaw.sol
Labels: EVM

feat(sdk,BoostCore): add simulateCreateBoost
  .changeset/odd-moles-check.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

chore(evm): log deployer address during script execution
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): log deployer address during script execution
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat(signatures): add hex selectors as keys in .selectors map
  .changeset/lazy-zebras-wave.md
  packages/signatures/build.js
Labels: signatures, changeset

chore(evm): deploy new iteration of protocol
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1729121768.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729122047.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729122360.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: update readme with deployment steps
  README.md
Labels: none

Create thick-lizards-explode.md
  .changeset/thick-lizards-explode.md
Labels: changeset

chore(evm): deploy new iteration of protocol
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1729121768.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729122047.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729122360.json
  packages/evm/deploys/11155111.json
Labels: EVM

Create thick-lizards-explode.md
  .changeset/thick-lizards-explode.md
Labels: changeset
