Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

feat: deploy on world chain sepolia
  packages/evm/broadcast/Deploy.s.sol/4801/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907268.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907301.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907367.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907461.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-latest.json
  packages/evm/deploys/4801.json
Labels: EVM

chore: add changeset
  .changeset/bright-penguins-matter.md
Labels: changeset

[ADHOC] World Chain Sepolia (#455)
  .changeset/bright-penguins-matter.md
  packages/evm/broadcast/Deploy.s.sol/4801/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907268.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907301.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907367.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907461.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-latest.json
  packages/evm/deploys/4801.json
Labels: EVM, changeset

Version Packages (#456)
  .changeset/bright-penguins-matter.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

chore: update .gitignore to include cursor rules
  .gitignore
Labels: none

refactor: update bases to handle optional env variables
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK

refactor: update address check logic for bases
  packages/sdk/src/Deployable/DeployableTarget.ts
Labels: SDK

chore: generate changeset
  .changeset/heavy-suits-march.md
Labels: changeset

chore: update .gitignore to include cursor rules
  .gitignore
Labels: none

feat: add payable validator
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
Labels: EVM

feat(validator): set global claimFee on base contract
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
Labels: EVM

test: add tests for global fee update mechanism
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
Labels: EVM

feat(validator): handle claim fee retrieval safely
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
Labels: EVM

feat(deploy): add PayableLimitedSignerValidator support
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
Labels: none

feat: add PayableLimitedSignerValidator to BoostCore
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
Labels: SDK

feat(test): add PayableLimitedSignerValidator support
  test/src/helpers.ts
Labels: none

test: add tests for PayableLimitedSignerValidator
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
Labels: SDK

feat: add PayableLimitedSignerValidator implementation
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK

refactor(cli): replace claimFee with baseImplementation
  packages/cli/src/commands/seed.ts
Labels: none

feat: add PayableLimitedSignerValidator deployment function
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat: add APayableLimitedSignerValidator interface support
  packages/evm/script/solidity/ComponentInterface.s.sol
Labels: EVM

feat: add owner parameter to PayableLimitedSignerValidator
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
  test/src/helpers.ts
Labels: SDK, EVM

test deploy
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

fix(deploy): update baseOwner private key variable
  packages/evm/.env.example
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: generate changeset
  .changeset/sharp-lamps-drop.md
Labels: changeset

[ADHOC] conditionally add hardhat chain to bases (#457)
  .changeset/heavy-suits-march.md
  .gitignore
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

chore: update comment
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
Labels: SDK

refactor(validators): remove unused claim data helper function
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
Labels: SDK

feat: add initial claim fee to PayableLimitedSignerValidator
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  test/src/helpers.ts
Labels: SDK, EVM

feat: add ClaimFeePaid event and related tests
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
Labels: EVM

deploy new test contract
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: deploy base-sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1750879785645.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: deploy sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1750880031285.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: deploy optimism
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1750883824656.json
  packages/evm/deploys/10.json
Labels: EVM

chore: deploy world sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1750885206232.json
  packages/evm/deploys/4801.json
Labels: EVM

chore: deploy base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1750885517562.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: update readme and example env file
  packages/evm/.env.example
  packages/evm/README.md
Labels: EVM

chore: update readme
  payable-limited-signer-validator-sdk-implementation-plan.md
Labels: none

fix(validator): add error handling for chain ID checks
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
Labels: SDK

chore: update readme
  packages/evm/README.md
  payable-limited-signer-validator-sdk-implementation-plan.md
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
