Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

feat(sdk): add decodeClaimData api
  .changeset/fifty-tigers-raise.md
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK, changeset

[ADHOC] chore: version packages (alpha) (#274)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

feat(sdk,cli): add incentive canBeClaimed,getRemainingClaimPotential, remaining incentives to seed cli
  .changeset/wicked-toes-check.md
  packages/cli/src/commands/seed.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/utils.ts
Labels: SDK, changeset

feat(seed): enhance CreateBoostPayload structure and validation
  packages/cli/src/commands/seed.ts
Labels: none

chore: generate changeset
  .changeset/real-suns-explode.md
Labels: changeset

[ADHOC] feat(cli): allow Validator to be optional in seed (#277)
  .changeset/real-suns-explode.md
  packages/cli/src/commands/seed.ts
Labels: changeset

fix(cli): encode function and event signatures correctly
  packages/cli/src/commands/seed.ts
Labels: none

fix(cli): encode function and event signatures correctly
  packages/cli/src/commands/seed.ts
Labels: none

add changeset for #280
  .changeset/gold-ladybugs-relate.md
Labels: changeset

add changeset for #280
  .changeset/gold-ladybugs-relate.md
Labels: changeset

chore(evm): refactor abstracts to be getters instead of state vars
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/BoostError.sol
Labels: EVM

feat(evm): implement Managed Budget with Fees
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

chore(evm): add docstring comments to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

refactor(evm): change attribution for clawback event in core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

Create new-dodos-join.md
  .changeset/new-dodos-join.md
Labels: changeset

feat(evm): add combined function for clawbacks and fee payouts
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

chore(evm): add tests and respond to review feedback
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

Version Packages (#279)
  .changeset/gold-ladybugs-relate.md
  .changeset/real-suns-explode.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: changeset

Create new-dodos-join.md
  .changeset/new-dodos-join.md
Labels: changeset

refactor(evm): change attribution for clawback event in core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): allow admins to set fees for ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

feat(evm): allow Budget Fees to be claimed before incentive finishes
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

feat(evm): implement Managed Budget with Fees
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

chore(evm): refactor abstracts to be getters instead of state vars
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/BoostError.sol
Labels: EVM

chore(evm): add docstring comments to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

chore(evm): add tests and respond to review feedback
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

feat(evm): add combined function for clawbacks and fee payouts
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

fix(evm): allow admins to set fees for ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

feat(evm): allow Budget Fees to be claimed before incentive finishes
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

ci: fix changesets vcs
  .github/workflows/on-push-to-main.yml
  .npmrc
Labels: none

chore(evm): add Budget with Fees to deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat(sdk): ManagedBudgetWithFees sdk impl
  .changeset/famous-chefs-brake.md
  packages/cli/src/commands/deploy.ts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

feat(sdk): ManagedBudgetWithFees sdk impl
  .changeset/famous-chefs-brake.md
  packages/cli/src/commands/deploy.ts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

chore(evm): add Budget with Fees to deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): deploy core and other protocol bits again
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1732564478.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1732564783.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1732565295.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore(sdk): add live deploy of ManagedBudgetWithFees
  .changeset/spotty-shirts-perform.md
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
Labels: SDK, changeset

chore(evm): deploy core and other protocol bits again
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1732564478.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1732564783.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1732565295.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore(sdk): add live deploy of ManagedBudgetWithFees
  .changeset/spotty-shirts-perform.md
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
Labels: SDK, changeset

[ADHOC] chore: deploy new protocol to base-sepolia
  .changeset/real-geckos-tan.md
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732569361.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732569830.json
  packages/evm/deploys/84532.json
  packages/evm/foundry.toml
Labels: EVM, changeset

[ADHOC] chore: deploy new protocol to base-sepolia
  .changeset/real-geckos-tan.md
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732569361.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732569830.json
  packages/evm/deploys/84532.json
  packages/evm/foundry.toml
Labels: EVM, changeset
