Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

[ADHOC] deploy EventAction module (#360)
  .changeset/empty-monkeys-decide.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1736015138.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1736392101.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1736390232.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM, changeset

Version Packages (#354)
  .changeset/bright-kids-pay.md
  .changeset/clean-items-pay.md
  .changeset/empty-monkeys-decide.md
  .changeset/itchy-news-exercise.md
  .changeset/mighty-snakes-leave.md
  .changeset/silly-carpets-jog.md
  .changeset/wild-rings-itch.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

wip: original tests passing
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/shared/IReadCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

refactor(EventAction): update transfer logs decoding logic
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(EventAction): fix lint warning for reordered args
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/cold-days-yell.md
Labels: changeset

fix: use FEE_DENOMINATOR
  packages/evm/contracts/budgets/ManagedBudget.sol
Labels: EVM

test: integrate topups to prove them out
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(EventAction): combine log and decodedLog objects
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/cool-turkeys-punch.md
Labels: changeset

feat(evm): only trigger dust hatch if there is a value amount
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): incentives can be added to existing boosts
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): adding incentives to existing boosts
  packages/evm/test/BoostCore.t.sol
Labels: EVM

[BOOST-5197] update transfer signature logic to allow for deriving claimant (#364)
  .changeset/cold-days-yell.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat(evm): add INT to primitive types
  packages/evm/contracts/actions/AEventAction.sol
Labels: EVM

feat(sdk): add INT to primitive types for Event Action
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat(evm): add topups from budgets to boost core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): modify topupIncentiveFromBudget to pipe accounting correctly
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add approves into topupIncentiveFromBudget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): incentives can be toped up without a budget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add topup function to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

feat(sdk): add terminators to field indexes automatically
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): test automatic termination for arrays smaller than 5
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

[BOOST-5209] fix: signature event issue address undefined is invalid (#365)
  .changeset/cool-turkeys-punch.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

Create breezy-jokes-judge.md
  .changeset/breezy-jokes-judge.md
Labels: changeset

feat(sdk): add terminators to field indexes automatically
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): test automatic termination for arrays smaller than 5
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

Create breezy-jokes-judge.md
  .changeset/breezy-jokes-judge.md
Labels: changeset

refactor(EventAction): use structuredClone for event assignment to prevent mutation
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/smart-falcons-joke.md
Labels: changeset

docs: update changeset description
  .changeset/smart-falcons-joke.md
Labels: changeset

test(sdk): update event subscribe to expect the incentive events
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

feat(evm): add INT to primitive types
  packages/evm/contracts/actions/AEventAction.sol
Labels: EVM

feat(sdk): add INT to primitive types for Event Action
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat(evm): implement managed budget V2
  packages/evm/contracts/budgets/AManagedBudgetWithFeesV2.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Labels: EVM

feat(EventAction): add padding to action step signatures
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/proud-pianos-pretend.md
Labels: changeset

feat: make signatureType optional and add detection function
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
