Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

fix(evm): tweak topup approval flow for sender topup
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(sdk): throw if topup is zero in SDK
  packages/sdk/src/BoostCore.ts
Labels: SDK

test(sdk): add running incentive topup test
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

fix(sdk): correct asset retrieval in getTopupPayload
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

feat(evm): topup functionality on incentives contracts
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/IToppable.sol
Labels: EVM

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat(evm): add topups from budgets to boost core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add approves into topupIncentiveFromBudget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): modify topupIncentiveFromBudget to pipe accounting correctly
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): incentives can be toped up without a budget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add topup function to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(sdk): account for fee as an additional amount instead of a discounted amount
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): correct total amount handling and encoing
  packages/evm/contracts/BoostCore.sol
Labels: EVM

wip: add integration tests for budget topups
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): uncomment the assertion in the topup fuzz test
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(evm): utilize the same compiler configs as foundry
  packages/evm/hardhat_build.config.cjs
Labels: EVM

test(evm): enable topup fuzz testing
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): tweak topup accounting in topupIncentiveFromSender
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): implement Topup events in core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

feat(sdk): add topup helpers to core
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat(sdk): add topup payload helpers to incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

fix(sdk): typo in getTopupPayload call
  packages/sdk/src/BoostCore.ts
Labels: SDK

fix(sdk): correct asset retrieval in getTopupPayload
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

feat(sdk): throw if topup is zero in SDK
  packages/sdk/src/BoostCore.ts
Labels: SDK

fix(evm): tweak topup approval flow for sender topup
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(sdk): add running incentive topup test
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

fix(evm): _getFeeDisbursal merge regression
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): modify topupIncentiveFromBudget to pipe accounting correctly
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): topup functionality on incentives contracts
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/IToppable.sol
Labels: EVM

wip: add integration tests for budget topups
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(sdk): add topup helpers to core
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat(evm): add topup function to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

fix(evm): _getFeeDisbursal merge regression
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): tweak topup approval flow for sender topup
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add approves into topupIncentiveFromBudget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): utilize the same compiler configs as foundry
  packages/evm/hardhat_build.config.cjs
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
