Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore: update readme with deployment steps
  README.md
Labels: none

Version Packages (alpha) (#199)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
  test/CHANGELOG.md
  test/package.json
Labels: SDK, EVM, signatures, examples

chore: remove private from examples for now
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
Labels: examples

feat: add anyActionParam
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: add changeset
  .changeset/fluffy-dolphins-dress.md
Labels: changeset

feat: add buildClaimData method to incentive classes
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

feat: add buildClaimData method to ERC20VariableIncentive
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

test: update incentive data with buildClaimData method
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
Labels: SDK

chore: generate changeset
  .changeset/lazy-guests-tickle.md
Labels: changeset

ci: tryfix release
  .changeset/config.json
  .changeset/pre.json
  .changeset/witty-jokes-accept.md
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
Labels: examples, changeset

ci: tryfix release v2
  .changeset/config.json
Labels: none

ci: tryfix release v3
  examples/agora-vote/CHANGELOG.md
  examples/delegate-action/CHANGELOG.md
  examples/ens-register/CHANGELOG.md
  examples/swap-specific-dex/CHANGELOG.md
  examples/zora-mint/package.json
Labels: examples

style: update return type in JSDoc comments
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

feat: add buildClaimData method to ERC20VariableCriteriaIncentive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

test: remove unneeded await
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
Labels: SDK

[BOOST-4831] feat: add anyActionParam (#209)
  .changeset/fluffy-dolphins-dress.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

refactor(RBAC): rename grant and revoke roles functions
  packages/evm/contracts/shared/RBAC.sol
Labels: EVM

[ADHOC] add buildClaimData method to Incentives (#210)
  .changeset/lazy-guests-tickle.md
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK, changeset

Version Packages (alpha) (#211)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, EVM, signatures

refactor(test): rename grantRoles to grantManyRoles
  packages/evm/test/budgets/ManagedBudget.t.sol
Labels: EVM

test: rename grantRoles to grantManyRoles in tests
  packages/evm/test/shared/RBAC.t.sol
Labels: EVM

feat(DeployableTargetWithRBAC): rename role grant/revoke methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

test: Update ManagedBudget test to use Roles module
  packages/sdk/src/Budgets/ManagedBudget.test.ts
Labels: SDK

test: update AllowListIncentive test roles management
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
Labels: SDK

test(incentives): update role granting in AllowList test
  packages/evm/test/incentives/AllowListIncentive.t.sol
Labels: EVM

test: update comments to reflect manyRoles
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

refactor(Budgets): remove unused imports in ManagedBudget.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
Labels: SDK

feat(DeployableTargetWithRBAC): add grant and revoke roles methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

refactor: update role type from bigint to Roles
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

test: add tests for role granting and revoking functionality
  packages/sdk/src/Budgets/ManagedBudget.test.ts
Labels: SDK

chore: generate changeset
  .changeset/poor-feet-destroy.md
Labels: changeset

docs: Update example to use correct Roles reference
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

style: Fix formatting in example documentation comments
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

chore(sdk): better support for linking
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Labels: SDK

docs: Update example to use bitwise OR operator
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

test: add RBAC tests for role management functions
  packages/sdk/src/Deployable/RBAC.test.ts
Labels: SDK

test(RBAC): add role checks to RBAC tests
  packages/sdk/src/Deployable/RBAC.test.ts
Labels: SDK

test: Remove unused import in RBAC test file
  packages/sdk/src/Deployable/RBAC.test.ts
Labels: SDK

test(RBAC): fix role check in RBAC test case
  packages/sdk/src/Deployable/RBAC.test.ts
Labels: SDK

test: rename RBAC.test.ts to DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
