Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

Apply suggestions from code review
  packages/cli/package.json
  packages/cli/src/help.ts
Labels: none

feat(cli): implement file i/o for seed configs
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
Labels: none

feat(cli): integrate and polish seed command with cleaner CLI
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.ts
Labels: none

feat(cli): implement seed with an incentive deployed and funded
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
  test/src/helpers.ts
Labels: none

fix(cli): review comments
  packages/cli/package.json
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  pnpm-lock.yaml
  test/src/helpers.ts
Labels: none

chore: refactor
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/help.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.js
  packages/cli/vite.config.ts
  pnpm-lock.yaml
Labels: none

fix(cli): wait for evm to build before cli attempts to build
  .changeset/good-bikes-perform.md
  turbo.json
Labels: changeset

feat(cli,seed): mint erc20s dynamically for incentives
  packages/cli/src/commands/create-seed.ts
Labels: none

feat(sdk,ManagedBudget): add clawbackFromTarget api
  .changeset/fair-ravens-share.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/errors.ts
  test/src/MockERC20.ts
Labels: SDK, changeset

fix(cli): further review comments
  packages/cli/src/commands/seed.ts
  test/src/helpers.ts
Labels: none

Update packages/cli/src/help.ts
  packages/cli/src/help.ts
Labels: none

fix(cli): further review comments
  packages/cli/src/commands/seed.ts
  test/src/helpers.ts
Labels: none

feat(cli): rough seed implementation
  .gitignore
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/vite.config.ts
  pnpm-lock.yaml
  test/src/MockERC1155.ts
  test/src/helpers.ts
  test/tsconfig.json
Labels: none

Update packages/cli/src/help.ts
  packages/cli/src/help.ts
Labels: none

feat(cli,seed): mint erc20s dynamically for incentives
  packages/cli/src/commands/create-seed.ts
Labels: none

Apply suggestions from code review
  packages/cli/package.json
  packages/cli/src/help.ts
Labels: none

feat(cli): implement file i/o for seed configs
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
Labels: none

fix(cli): review comments
  packages/cli/package.json
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  pnpm-lock.yaml
  test/src/helpers.ts
Labels: none

feat(cli): implement seed with an incentive deployed and funded
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
  test/src/helpers.ts
Labels: none

chore: refactor
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/help.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.js
  packages/cli/vite.config.ts
  pnpm-lock.yaml
Labels: none

feat(cli): integrate and polish seed command with cleaner CLI
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.ts
Labels: none

fix(cli): wait for evm to build before cli attempts to build
  .changeset/good-bikes-perform.md
  turbo.json
Labels: changeset

[ADHOC] feat(sdk): clawbackFromTarget API for ManagedBudget (#264)
  .changeset/fair-ravens-share.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/errors.ts
  test/src/MockERC20.ts
Labels: SDK, changeset

feat(cli): public release, docs, and small tweaks to seed
  .changeset/chilly-swans-sort.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/seed.ts
Labels: changeset

Version Packages (alpha) (#269)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

fix(cli): bundle arg dep
  .changeset/great-moles-trade.md
  packages/cli/vite.config.ts
Labels: changeset

[ADHOC] chore: version packages (alpha) (#270)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: none

refactor(sdk): use SimulateContractParameters instead of WriteContractParameters
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Auth/PassthroughAuth.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  test/src/MockERC1155.ts
  test/src/MockERC20.ts
  test/src/MockERC721.ts
  test/src/MockPoints.ts
Labels: SDK

fix(ci): fix core/registry types
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
Labels: SDK

chore: changeset
  .changeset/real-boxes-jump.md
Labels: changeset

[ADHOC] refactor(sdk): use SimulateContractParameters instead of WriteContractParameters (#271)
  .changeset/real-boxes-jump.md
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Auth/PassthroughAuth.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  test/src/MockERC1155.ts
  test/src/MockERC20.ts
  test/src/MockERC721.ts
  test/src/MockPoints.ts
Labels: SDK, changeset

feat(sdk): add api to calculate protocol fees
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/utils.ts
Labels: SDK

fix(sdk): fix bad falsy check on strategy type
  packages/sdk/src/Incentives/ERC20Incentive.ts
Labels: SDK

fix(sdk): just throw undefined checks everywhere
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

chore: changeset
  .changeset/afraid-papayas-kiss.md
Labels: changeset

chore: fix tests
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostRegistry.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/index.test.ts
Labels: SDK

chore: tests
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: remove .only
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

[ADHOC] feat(sdk): add api to calculate protocol fees (#273)
  .changeset/afraid-papayas-kiss.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/utils.ts
Labels: SDK, changeset

Version Packages (alpha) (#272)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
