Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore: disable format on save for solidity files (utilize lefthook)
  .vscode/settings.json
Labels: none

feat(sdk): support V2 Validators
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/LimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/LimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/SignerValidatorV2.test.ts
  packages/sdk/src/Validators/SignerValidatorV2.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK

fix(evm): handle underflow
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): add tests for referrals
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndSignerValidatorV2.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Labels: EVM

chore: reuse IBoostCore interface
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Labels: EVM

chore(evm): cleanup
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Labels: EVM

feat(evm): add new validators to handle referrals in claim data
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ALimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/APayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/ASignerValidatorV2.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/SignerValidatorV2.sol
Labels: EVM

test(sdk): check referral balance
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK

fix(evm): address CodeRabbit suggestions
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Labels: EVM

test(evm): clean up component interface tests
  packages/evm/test/actions/ContractAction.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/actions/EventAction.t.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/allowlists/SimpleDenyList.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
  packages/evm/test/shared/Cloneable.t.sol
  packages/evm/test/validators/LimitedSignerValidator.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Labels: EVM

fix(sdk): address CodeRabbit suggestions
  packages/sdk/src/Validators/LimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/LimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/SignerValidatorV2.test.ts
  packages/sdk/src/Validators/SignerValidatorV2.ts
Labels: SDK

chore(evm): deploy new modules on eth sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1759363169.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore(evm): update BoostCore version
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): add version check in upgrade script
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
Labels: EVM

chore(evm): upgrade BoostCore
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1759363448.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1759363633.json
Labels: EVM

chore: update changeset
  .changeset/stale-nails-prove.md
Labels: changeset

[ADHOC] chore: version packages (canary) (#484)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

ci: increase build size
  .github/workflows/on-push-to-main.yml
Labels: none

[ADHOC] ci: increase build size (#485)
  .github/workflows/on-push-to-main.yml
Labels: none

ci: increase build size
  .github/workflows/on-push-to-main.yml
Labels: none

[ADHOC] ci: increase build size (#486)
  .github/workflows/on-push-to-main.yml
Labels: none

ci: use env var
  .github/workflows/on-push-to-main.yml
Labels: none

[ADHOC] ci: use env var (#487)
  .github/workflows/on-push-to-main.yml
Labels: none

fix: add targetContract check in action validation
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/beige-radios-cry.md
Labels: changeset

refactor(EventAction): replace event selector with signature
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/early-keys-sort.md
Labels: changeset

refactor(EventAction): replace toEventSelector with signature
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[BOOST-5830] add targetContract check in action validation (#488)
  .changeset/beige-radios-cry.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

[ADHOC] filter decoded logs using action step signature (#489)
  .changeset/early-keys-sort.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

Version Packages (canary) (#490)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

feat(evm): deploy modules and upgrade base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1759947284.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1759947520.json
  packages/evm/deploys/84532.json
Labels: EVM

feat(evm): deploy modules and upgrade optimism
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1759948334.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1759948792.json
  packages/evm/deploys/10.json
Labels: EVM

feat(evm): deploy modules and upgrade base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1759949679.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1759950110.json
  packages/evm/deploys/8453.json
Labels: EVM

feat(evm): deploy modules and upgrade worldchain
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1759950944.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1759951376.json
  packages/evm/deploys/480.json
Labels: EVM

chore: add changeset
  .changeset/ninety-carpets-end.md
Labels: changeset

[ADHOC] Deploy Modules and BoostCore Upgrade (#491)
  .changeset/ninety-carpets-end.md
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1759948334.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1759950944.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1759949679.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1759947284.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1759948792.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1759951376.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1759950110.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1759947520.json
  packages/evm/deploys/10.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM, changeset

Version Packages (canary) (#492)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

feat: deploy to celo mainnet
  packages/evm/broadcast/Deploy.s.sol/42220/run-1760471202157.json
  packages/evm/broadcast/Deploy.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-1760472249803.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-latest.json
  packages/evm/deploys/42220.json
Labels: EVM

chore: add changeset
  .changeset/mighty-cows-develop.md
Labels: changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
