Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

[BOOST-5596] implement payable validator contract (#458)
  .changeset/sharp-lamps-drop.md
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/.env.example
  packages/evm/README.md
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1750883824656.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1750880031285.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1750885206232.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1750885517562.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1750879785645.json
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/deploys/10.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/4801.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

Version Packages (#459)
  .changeset/heavy-suits-march.md
  .changeset/sharp-lamps-drop.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

fix: fix fieldType mutation
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/selfish-shrimps-pump.md
Labels: changeset

[ADHOC] fix fieldtype mutation (#460)
  .changeset/selfish-shrimps-pump.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

Version Packages (#461)
  .changeset/selfish-shrimps-pump.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

refactor(EventAction): move criteria declaration inside try block
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/khaki-geese-lick.md
Labels: changeset

chore: add .cursorignore
  .gitignore
Labels: none

chore: add OffchainAction to scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat: offchain action implementation
  packages/evm/contracts/actions/AOffchainAction.sol
  packages/evm/contracts/actions/OffchainAction.sol
  packages/evm/test/actions/OffchainAction.t.sol
Labels: EVM

feat: add AOffchainAccessList interface integration
  packages/evm/script/solidity/ComponentInterface.s.sol
Labels: EVM

feat: add AccessListIdNotFound error to BoostError library
  packages/evm/contracts/shared/BoostError.sol
Labels: EVM

feat(allowlists): add offchain access list contracts
  packages/evm/contracts/allowlists/AOffchainAccessList.sol
  packages/evm/contracts/allowlists/OffchainAccessList.sol
Labels: EVM

test: add OffchainAccessList unit tests
  packages/evm/test/allowlists/OffchainAccessList.t.sol
Labels: EVM

feat(deploy): add OffchainAccessList deployment function
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: generate changeset
  .changeset/calm-parrots-punch.md
Labels: changeset

[BOOST-5709] OffchainAccessList Module (#462)
  .changeset/calm-parrots-punch.md
  packages/evm/contracts/allowlists/AOffchainAccessList.sol
  packages/evm/contracts/allowlists/OffchainAccessList.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/allowlists/OffchainAccessList.t.sol
Labels: EVM, changeset

Refactor: Move AccessListIdNotFound error to OffchainAccessList
  packages/evm/contracts/allowlists/OffchainAccessList.sol
  packages/evm/contracts/shared/BoostError.sol
Labels: EVM

chore: generate changeset
  .changeset/happy-llamas-obey.md
Labels: changeset

refactor: remove BoostError from OffchainAccessList tests
  packages/evm/test/allowlists/OffchainAccessList.t.sol
Labels: EVM

[ADHOC] move AccessListIdNotFound error to OffchainAccessList (#464)
  .changeset/happy-llamas-obey.md
  packages/evm/contracts/allowlists/OffchainAccessList.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/allowlists/OffchainAccessList.t.sol
Labels: EVM, changeset

chore: deploy OffchainAccessList eth-sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1753468609468.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: deploy OffchainAccessList base-sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1753468779375.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: deploy OffchainAccessList world-sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1753468993675.json
  packages/evm/deploys/4801.json
Labels: EVM

chore: deploy OffchainAccessList opt-mainnet
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1753469125585.json
  packages/evm/deploys/10.json
Labels: EVM

chore: deploy OffchainAccessList on base-mainnet
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1753469216999.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: generate changeset
  .changeset/tidy-pots-sin.md
Labels: changeset

[ADHOC] deploy OffchainAccessList module (#465)
  .changeset/tidy-pots-sin.md
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1753469125585.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1753468609468.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1753468993675.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1753469216999.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1753468779375.json
  packages/evm/deploys/10.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/4801.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM, changeset

feat: add OffchainAccessList implementation
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/OffchainAccessList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
Labels: SDK

test: add tests for OffchainAccessList functionality
  packages/sdk/src/AllowLists/OffchainAccessList.test.ts
  test/src/helpers.ts
Labels: SDK

chore: generate changeset
  .changeset/honest-maps-dream.md
Labels: changeset

chore: update error message for isAllowed()
  packages/sdk/src/AllowLists/OffchainAccessList.ts
Labels: SDK

feat(cli): add OffchainAccessList support
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
Labels: none

chore: update package versions in changeset file
  .changeset/honest-maps-dream.md
Labels: changeset

[BOOST-5716] add sdk implementation for OffchainAccessList (#466)
  .changeset/honest-maps-dream.md
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/OffchainAccessList.test.ts
  packages/sdk/src/AllowLists/OffchainAccessList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, changeset

Version Packages (#463)
  .changeset/calm-parrots-punch.md
  .changeset/happy-llamas-obey.md
  .changeset/honest-maps-dream.md
  .changeset/tidy-pots-sin.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

chore(evm): deploy on worldchain
  packages/evm/broadcast/Deploy.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Labels: EVM

chore: add changeset
  .changeset/warm-fishes-agree.md
Labels: changeset

[ADHOC] World Chain (#467)
  .changeset/warm-fishes-agree.md
  packages/evm/broadcast/Deploy.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Labels: EVM, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
