Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, examples, documentation

.github/labeler.yml:

"SDK":
  - "packages/sdk/**/*"
"EVM":
  - "packages/evm/**/*"
"examples":
  - "packages/examples/**/*"
"documentation":
  - "docs/**/*"

[BOOST-4706] Add chainId to event action parameters
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Labels: EVM

[BOOST-4707] support chainid in EventAction
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Labels: SDK

chore(sdk): boostregistry.initialize, better target .isBase inference, comments
  .changeset/swift-rivers-deny.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
Labels: SDK

chore(biome): update ignored files to prevent unnecessary lint/fix
  biome.json
Labels: none

chore(sdk): remove option to deploy budget at boost creation time
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/errors.ts
Labels: SDK

chore(cli): fix build, any out .deploy
  packages/cli/src/commands/deploy.ts
Labels: none

[BOOST-4707] support chainid in EventAction
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Labels: SDK

fix: migrate EventAction signature to bytes32
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/signatures/build.js
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: SDK, EVM

[BOOST-4706] Add chainId to event action parameters
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Labels: EVM

chore: some registry tests
  packages/sdk/src/BoostRegistry.test.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/utils.ts
Labels: SDK

chore(docs): sort typedoc for prominent interfaces first
  packages/sdk/package.json
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/index.ts
  packages/sdk/typedoc.json
Labels: SDK

Update packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore(sdk): enable useAwait biome config
  biome.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Auth/PassthroughAuth.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/MockPoints.ts
  packages/sdk/test/helpers.ts
Labels: SDK

chore(sdk): fix all lint warnings
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/accounts.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

fix(sdk): enable linting in CI
  .github/workflows/verify.yml
  package.json
  packages/sdk/package.json
  turbo.json
Labels: SDK

Update packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore(sdk): enable useAwait biome config
  biome.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Auth/PassthroughAuth.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/MockPoints.ts
  packages/sdk/test/helpers.ts
Labels: SDK

fix(sdk): enable linting in CI
  .github/workflows/verify.yml
  package.json
  packages/sdk/package.json
  turbo.json
Labels: SDK

chore(sdk): fix all lint warnings
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/accounts.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

feat: add NameRegistered event to signatures
  packages/signatures/manifests/events.json
Labels: none

chore: use sepolia for hardhat config
  packages/sdk/hardhat.config.cjs
Labels: SDK

test(ens-fork-mint): add test for ENS registration boost
  packages/sdk/test/ens-fork-mint.test.ts
Labels: SDK

refcator: fetch logs from real ens registration transaction
  packages/sdk/test/ens-fork-mint.test.ts
Labels: SDK

test: Remove unused import and update comment for clarity
  packages/sdk/test/ens-fork-mint.test.ts
Labels: SDK

test: Update block number for ens-fork-mint test
  packages/sdk/test/ens-fork-mint.test.ts
Labels: SDK

refactor(test): rename ens-fork-mint.test to ens-register.test
  packages/sdk/test/ens-register.test.ts
Labels: SDK

feat(signatures): add DelegateChanged event signature
  packages/signatures/manifests/events.json
Labels: none

test: add tests for delegate action incentive functionality
  packages/sdk/test/delegate-action.test.ts
Labels: SDK

feat(sdk): add additional helpers into EventAction for function validation
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

fix(sdk): tweak error handling in EventAction
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

fix(sdk): split EventAction input params into two objects
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/wicked-feet-tap.md
Labels: none

chore: generate changeset
  .changeset/honest-seals-invite.md
Labels: none

test: add tests for swpaping on specific dex
  packages/sdk/test/swap-specific-dex.test.ts
Labels: SDK

feat(signatures): add execute function sig
  packages/signatures/manifests/functions.json
Labels: none

test: update comments on zora mint test
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test: Add chainid to event action and payload structures
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(zora-fork-mint): update value to use parseEther()
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

test(zora-fork-mint): simplify action steps in tests
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore: start refactor
  .changeset/sixty-turtles-taste.md
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK
