Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

test: add setup for LimitedSignerValidator tests
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

test: update tests for ERC20 incentives and fixtures
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

ci: add VITE_BOOST_CORE_ADDRESS to verify workflow
  .github/workflows/verify.yml
Labels: none

ci: add VITE_BOOST_CORE_ADDRESS to workflow env vars
  .github/workflows/verify.yml
Labels: none

ci: update verify.yml to create SDK envfile
  .github/workflows/verify.yml
Labels: none

chore: add fixtures and budget
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

chore: remove OZ contracts upgradeable
  .gitmodules
  packages/evm/foundry.toml
  packages/evm/wagmi.config.ts
Labels: EVM

ci: update verify.yml to create SDK envfile
  .github/workflows/verify.yml
Labels: none

chore: remove unused import
  packages/sdk/src/utils.ts
Labels: SDK

chore: install OZ library
  .gitmodules
  packages/evm/foundry.toml
Labels: EVM

chore(evm): change uint8 to uint32
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
Labels: EVM

chore: remove etherscan keys
  packages/evm/foundry.toml
Labels: EVM

feat(evm): deterministic proxy address
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCoreUUPS.t.sol
Labels: EVM

chore: sepolia init deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757534344.json
  packages/evm/deploys/11155111.json
Labels: EVM

fix(evm): add broadcasts
  packages/evm/script/solidity/Deploy.s.sol
Labels: EVM

feat(evm): sepolia deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757537639.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757539018.json
  packages/evm/deploys/11155111.json
Labels: EVM

feat(evm): base sepolia deployment
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757539679.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757540083.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: add changeset
  .changeset/modern-moose-cough.md
  .changeset/pre.json
Labels: changeset

fix(evm): add storage gaps
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): sepolia deployment (with gaps)
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757622524.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757622825.json
  packages/evm/deploys/11155111.json
Labels: EVM

feat(evm): base sepolia deployment (with gaps)
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757623106.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757623224.json
  packages/evm/deploys/84532.json
Labels: EVM

[ADHOC] Upgradeable Boost Core (#472)
  .changeset/modern-moose-cough.md
  .changeset/pre.json
  .github/workflows/verify.yml
  .gitmodules
  packages/cli/src/commands/deploy.ts
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757534344.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757537639.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757622524.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757539679.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757623106.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757539018.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757622825.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757540083.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757623224.json
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
  packages/evm/foundry.toml
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/utils.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

Version Packages (canary) (#474)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

chore: remove worldchain sepolia + arbitrum deploys
  packages/evm/deploys/42161.json
  packages/evm/deploys/4801.json
Labels: EVM

feat(evm): base deployment
  packages/evm/broadcast/Deploy.s.sol/8453/run-1758052264.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1758052971.json
  packages/evm/deploys/8453.json
Labels: EVM

feat(evm): optimism deployment
  packages/evm/broadcast/Deploy.s.sol/10/run-1758054559.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1758054918.json
  packages/evm/deploys/10.json
Labels: EVM

feat(evm): worldchain deployment
  packages/evm/broadcast/Deploy.s.sol/480/run-1758055505.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1758055901.json
  packages/evm/deploys/480.json
Labels: EVM

chore: add changeset
  .changeset/spotty-doors-own.md
Labels: changeset

[ADHOC] Mainnet Deployments (#475)
  .changeset/spotty-doors-own.md
  packages/evm/broadcast/Deploy.s.sol/10/run-1758054559.json
  packages/evm/broadcast/Deploy.s.sol/480/run-1758055505.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1758052264.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1758054918.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1758055901.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1758052971.json
  packages/evm/deploys/10.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/4801.json
  packages/evm/deploys/8453.json
Labels: EVM, changeset

Version Packages (canary) (#476)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

feat: add clawback event and update version to 1.1.0
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

feat: add scripts for BoostCore upgrade and validation
  packages/evm/foundry.toml
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
  packages/evm/script/solidity/ValidateBoostCoreUpgrade.s.sol
Labels: EVM

feat(BoostCore): add initial implementation of BoostCore contract
  packages/evm/contracts/archive/BoostCoreV1.sol
Labels: EVM

ci: add validation for BoostCore upgrade safety check
  .github/workflows/verify.yml
Labels: none

feat: add openzeppelin-foundry-upgrades submodule
  .gitmodules
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/archive/BoostCoreV1.sol
Labels: EVM

refactor(test): update BoostCore import for testing V2
  packages/evm/test/BoostCoreUUPS.t.sol
Labels: EVM

refactor: remove redundant console logs from upgrade script
  packages/evm/script/solidity/ValidateBoostCoreUpgrade.s.sol
Labels: EVM

refactor: replace OZ Upgrades with solady
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
Labels: EVM

feat(evm): testnet upgrades
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1758311573.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1758311741.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-latest.json
Labels: EVM

chore: check implementation address
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
