Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

test: add comprehensive Aave v4 adapter unit tests
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

test: initialize Aave v4 mocks in test setup
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

test: add Aave v4 fork test for end-to-end integration
  packages/evm/test/timebased/TBIForwarderAaveV4Fork.t.sol
Labels: EVM

[BOOST-6602] Add domain separation and startTime validation to merkle leaf encoding (#543)
  packages/evm/broadcast/DeployCampaignBase.s.sol/1/run-1784925690636.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/1/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/10/run-1784925210616.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/10/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/137/run-1784925512280.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/137/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/42161/run-1784925455145.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/42161/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/480/run-1784925600499.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/480/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/8453/run-1784924980677.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/8453/run-latest.json
  packages/evm/broadcast/UpgradeCampaignBase.s.sol/84532/run-1784846659453.json
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/DeployCampaignBase.s.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

[BOOST-6710] Add Aave v4 Spoke adapter with governance-authenticated position manager routing (#548)
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
  packages/evm/test/timebased/TBIForwarderAaveV4Fork.t.sol
Labels: EVM

chore: upgrade forwarder for aavev4 support mainnet
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696346121.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696509493.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-latest.json
Labels: EVM

chore: deploy boost core on rh chain
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

[ADHOC] deploy boost core on rh chain (#550)
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

[ADHOC] deploy boost core on rh chain (#550)
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

[ADHOC] deploy boost core on rh chain (#551)
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

chore: add changeset
  .changeset/loud-phones-teach.md
Labels: changeset

[ADHOC] chore: add changeset (#552)
  .changeset/loud-phones-teach.md
Labels: changeset

[ADHOC] chore: version packages (#553)
  .changeset/loud-phones-teach.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

[ADHOC] Deploy timelock contracts across networks (#542)
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/1/run-1783636890420.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/1/run-1783636982780.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/10/run-1783639661471.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/10/run-1783639697009.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/137/run-1783639852745.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/137/run-1783639928490.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/42161/run-1783640063175.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/42161/run-1783640100519.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/480/run-1783634821534.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/480/run-1783636318808.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/8453/run-1783640374429.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/8453/run-1783640416071.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/84532/run-1783631504062.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/84532/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/deploys/999.json
  packages/evm/script/solidity/Deploy_TBITimelock.s.sol
Labels: EVM

chore: deploy timelocks on rh chain
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202412071.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202534551.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

[ADHOC] Deploy timelocks on Rh chain (#554)
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202412071.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202534551.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

[ADHOC] Deploy TBIForwarder upgrade for Aave V4 support (#549)
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696346121.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696509493.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-latest.json
Labels: EVM

feat(evm): Enhance referral distributor finalization and campaign creation
  packages/evm/contracts/timebased/ReferralDistributor.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/ReferralDistributor.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Labels: EVM

feat(evm): Add script for TBI referral system deployment and activation
  packages/evm/script/solidity/DeployImpl_TBIReferrals.s.sol
Labels: EVM

refactor(evm): Restrict ReferralDistributor access to TimeBasedIncentiveManager
  packages/evm/contracts/timebased/ReferralDistributor.sol
Labels: EVM

docs(evm): Update TimeBasedIncentiveManager.claimReferral NatSpec
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

test(evm): Specify exact revert reason for ReferralDistributor re-initialization tests
  packages/evm/test/timebased/ReferralDistributor.t.sol
Labels: EVM

fix(evm): Validate referral distributor implementation has bytecode
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Labels: EVM

feat(evm): Integrate referral distribution into incentive manager
  packages/evm/contracts/timebased/ReferralDistributor.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/ReferralDistributor.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Labels: EVM

chore(evm): Refine TBI referral deployment and upgrade logic
  packages/evm/script/solidity/DeployImpl_TBIReferrals.s.sol
Labels: EVM

test(evm): Update ReferralDistributor tests for new access control
  packages/evm/test/timebased/ReferralDistributor.t.sol
Labels: EVM

feat(evm): Bind referral merkle leaves to chainid
  packages/evm/contracts/timebased/ReferralDistributor.sol
  packages/evm/test/timebased/ReferralDistributor.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Labels: EVM

chore(evm): Update deploys.json and add broadcast logs for TBI referrals
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787255212758.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787255508221.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787255607026.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787256676340.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787675035987.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

chore(evm): Update deployment addresses for TimeBasedIncentiveManager and ReferralDistributor
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787698504414.json
  packages/evm/deploys/84532.json
Labels: EVM

chore(evm): deploy to mainnets
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/1/run-1787946849969.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/1/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/10/run-1787947195944.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/10/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/137/run-1787947086003.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/137/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/42161/run-1787946982667.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/42161/run-1787947875859.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/42161/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/480/run-1787946661954.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/480/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/8453/run-1787946794398.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/8453/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
Labels: EVM

chore(evm): deploy tbi on robinhood chain
  packages/evm/broadcast/Deploy_TimeBased.s.sol/4663/run-1788217556474.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

chore(evm): upgrade tbi
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/4663/run-1788222367084.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

chore(evm): deploy and upgrade forwarder on robinhood chain
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/4663/run-1788225966007.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/4663/run-1788226149761.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/4663/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788226893923.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788279190236.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788279473018.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788279702795.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Labels: EVM

feat(timebased): add RewardPoolMismatch error and update SwapInputMismatch docs
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Labels: EVM

test: add Beefy CLM and reward pool mock contracts
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(timebased): implement depositBeefyCLM with validation and swap execution
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Labels: EVM

feat(timebased): add Beefy CLM vault and reward pool interfaces
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Labels: EVM

test: add comprehensive Beefy CLM deposit test cases
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

test: add Beefy CLM fork tests
  packages/evm/test/timebased/TBIForwarderBeefyClmFork.t.sol
Labels: EVM

test: update TBIForwarder test imports and setup for Beefy CLM
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM
