Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore: activate canary mode
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/sdk/CHANGELOG.md
Labels: SDK

[ADHOC] actionstep grouping (#506)
  .changeset/pre.json
  .changeset/three-swans-prove.md
  packages/cli/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

chore: remove changeset reference from pre.json
  .changeset/pre.json
Labels: none

[ADHOC] canary release (#507)
  .changeset/pre.json
Labels: none

chore: clean up CHANGELOG entries for cli and sdk
  packages/cli/CHANGELOG.md
  packages/sdk/CHANGELOG.md
Labels: SDK

Version Packages (canary) (#508)
  .changeset/pre.json
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

test(EventAction): update referenceId type to string
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

refactor(EventAction): simplify log argument decoding logic
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/rude-owls-divide.md
Labels: changeset

refactor(EventAction): simplify input name assignment logic
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[ADHOC] fix viem log order bug (#509)
  .changeset/rude-owls-divide.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

[ADHOC] chore: version packages (canary) (#510)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

test: add comprehensive test suite for StreamingManager
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat: add StreamingManager factory for campaign creation and orchestration
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

feat: add StreamingCampaign contract for campaign reward management
  packages/evm/contracts/streaming/StreamingCampaign.sol
Labels: EVM

test: update insufficient funds error expectation with fee calculation
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

test: add test for campaign creation with 100% protocol fee
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

refactor: rename StreamingCampaign Initialized event to CampaignInitialized
  packages/evm/contracts/streaming/StreamingCampaign.sol
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat: add setProtocolFee and setProtocolFeeReceiver methods
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

test: add setProtocolFee and setProtocolFeeReceiver test cases
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat: add protocol fee management events to StreamingManager
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

fix: apply CEI pattern in createCampaign for reentrancy safety
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

chore: format
  packages/evm/contracts/streaming/StreamingCampaign.sol
  packages/evm/contracts/streaming/StreamingManager.sol
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

test(StreamingManager): add test for disburse failure in createCampaign
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat(StreamingCampaign): add access control to initialize function
  packages/evm/contracts/streaming/StreamingCampaign.sol
Labels: EVM

test(StreamingCampaign): add test for unauthorized initialize call
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

refactor(streaming): convert constructor to initializer pattern
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

feat(streaming): add campaign implementation setter and upgrade authorization
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

test(streaming): update tests for initializer pattern
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat(streaming): add UUPS upgradeable pattern to StreamingManager
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

test(streaming): update initialization tests and add upgrade tests
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

[BOOST-6102] Streaming Incentives Campaign Creation & Configuration (#511)
  packages/evm/contracts/streaming/StreamingCampaign.sol
  packages/evm/contracts/streaming/StreamingManager.sol
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat(StreamingManager): implement operator management and root updates
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

feat(StreamingManager): add operator field for merkle root publishing
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

feat(StreamingManager): add authorization and campaign validation errors
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

feat(StreamingManager): add operator and root update events
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

test(StreamingManager): add operator and merkle root update tests
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

feat(StreamingCampaign): add merkle root update event and setter
  packages/evm/contracts/streaming/StreamingCampaign.sol
Labels: EVM

feat(streaming): implement claim function in StreamingManager
  packages/evm/contracts/streaming/StreamingManager.sol
Labels: EVM

test(streaming): add claimer test addresses
  packages/evm/test/streaming/StreamingManager.t.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
