Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, examples, documentation

chore: update docs, tests with new api
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/delegate-action.test.ts
Labels: SDK

chore: fix tests
  packages/sdk/src/Validators/SignerValidator.test.ts
Labels: SDK

chore: fix test helper type
  packages/sdk/test/helpers.ts
Labels: SDK

feat(sdk): make ActionStep.actionType optional, default to 0 on encode if not provided
  .changeset/wild-rabbits-compare.md
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore(evm): add etherscan info to config
  packages/evm/.env.example
  packages/evm/foundry.toml
Labels: EVM

feat(evm): skip registration if already deployed
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

feat(evm): skip deployment if already deployed to address
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

docs: add deployment info to docs
  README.md
Labels: none

chore(evm): broadcast new deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1727198739.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1727199269.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199546.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199802.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199820.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199985.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727200143.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727200293.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201496.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201526.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201749.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201799.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201818.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201930.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201958.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201965.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727202254.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727202457.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Labels: EVM

feat(evm): update deploy modules to include signer and allowlists
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

refactor(evm): use helper for registration check
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

chore(evm): add etherscan info to config
  packages/evm/.env.example
  packages/evm/foundry.toml
Labels: EVM

docs: add deployment info to docs
  README.md
Labels: none

feat(evm): skip registration if already deployed
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

feat(evm): skip deployment if already deployed to address
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

chore(evm): broadcast new deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1727198739.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1727199269.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199546.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199802.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199820.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199985.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727200143.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727200293.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201496.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201526.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201749.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201799.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201818.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201930.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201958.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201965.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727202254.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727202457.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Labels: EVM

refactor(evm): use helper for registration check
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

feat(evm): update deploy modules to include signer and allowlists
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

docs: tell people it's fine to not always generate a changeset
  README.md
  dangerfile.ts
Labels: none

refactor(sdk,tests): refactor testing api to support same api as non-test usage
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore: re-add og boostcore erc1155 incentive test
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/test/helpers.ts
Labels: SDK

feat: setup ens commit transaction
  packages/sdk/test/ens-register.test.ts
Labels: SDK

refactor: reorganize imports
  packages/sdk/test/ens-register.test.ts
Labels: SDK

feat(EventAction): handle address filtering in not equal case
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/little-seals-punch.md
Labels: none

Revert "chore: generate changeset"
  .changeset/honest-seals-invite.md
Labels: none

feat(changeset): add NameRegistered event to signatures
  .changeset/clever-planets-listen.md
Labels: none

test: Remove unused actionType and validator in tests
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

refactor: use encodeClaimData method
  packages/sdk/test/ens-register.test.ts
Labels: SDK

refactor: update imports
  packages/sdk/test/swap-specific-dex.test.ts
Labels: SDK

refactor: use historic block in tests
  packages/sdk/test/swap-specific-dex.test.ts
Labels: SDK

feat(sdk): support Regex filtering on string events
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/signatures/manifests/events.json
Labels: SDK, EVM

chore(sdk): remove json import from public package
  packages/sdk/package.json
  packages/sdk/vite.config.js
  pnpm-lock.yaml
Labels: SDK

docs: update `ERC20VariableIncentive` sdk docs
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

fix: move reset and clean up logs
  packages/sdk/test/agora-fork-vote.test.ts
Labels: SDK

chore: remove timeout config
  packages/sdk/vitest.config.ts
Labels: SDK

chore: agora vote init
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/agora-fork-vote.test.ts
  packages/sdk/vitest.config.ts
  packages/signatures/manifests/events.json
Labels: SDK

fix: correct the import paths
  packages/sdk/test/agora-fork-vote.test.ts
Labels: SDK

fix: remove additional chainid
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore: use dynamic rewards
  packages/sdk/test/agora-fork-vote.test.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - "packages/sdk/**/*"
"EVM":
  - "packages/evm/**/*"
"examples":
  - "packages/examples/**/*"
"documentation":
  - "docs/**/*"
