Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

test(sdk): add manager to incentive init params
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

chore(sdk): re-add test that should pass now
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore: add changeset
  .changeset/strange-parents-lay.md
Labels: changeset

chore(sdk): re-add test that should pass now
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore: add changeset
  .changeset/strange-parents-lay.md
Labels: changeset

test(sdk): add manager to incentive init params
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

fix(evm): utilize consistent manager paradigm for incentives
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

chore: redeploy modules with new names
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1734385056.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1734385339.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1734385202.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): cleanup deploy addresses
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: update pnpm version to 9.15.0
  .github/actions/install-dependencies/action.yml
  package.json
Labels: none

chore(ci): make danger re-run on PR edits
  .github/workflows/danger.yaml
Labels: none

chore: redeploy modules with new names
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1734385056.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1734385339.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1734385202.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): cleanup deploy addresses
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: add sdk/cache to ignored paths in biome.json
  biome.json
Labels: none

feat(EventAction): add transfer log decoding for ERC20/ERC721
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
Labels: SDK

chore: generate changeset
  .changeset/sixty-mirrors-wink.md
Labels: changeset

feat(utils): update transfer signature to use events selector
  packages/sdk/src/utils.ts
Labels: SDK

refactor(EventAction): remove unused crypto import
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: update pnpm version to 9.15.0
  .github/actions/install-dependencies/action.yml
  package.json
Labels: none

fix(ci): danger gives a false pass if the PR description is empty
  dangerfile.ts
Labels: none

chore: deploy pegged variable crtieria
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1734388185.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1734388263.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1734388225.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: deploy pegged variable crtieria
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1734388185.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1734388263.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1734388225.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(ci): make danger re-run on PR edits
  .github/workflows/danger.yaml
Labels: none

fix(ci): danger gives a false pass if the PR description is empty
  dangerfile.ts
Labels: none

fix: update bases for pegged incentives
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

chore: generate changeset
  .changeset/sixty-windows-yell.md
Labels: changeset

[ADHOC] update pegged incentive bases (#339)
  .changeset/sixty-windows-yell.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, changeset

Version Packages (#340)
  .changeset/sixty-windows-yell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

feat: add decodeClaimData method to pegged variable incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

chore: generate changeset
  .changeset/calm-numbers-add.md
Labels: changeset

[ADHOC] add decode method to pegged variable incentive (#341)
  .changeset/calm-numbers-add.md
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, changeset

fix(sdk): auto-add boostcore as ManagedBudget manager
  .changeset/few-pugs-behave.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

fix: add contracts to build inputs
  turbo.json
Labels: none

fix(sdk): auto-add boostcore as ManagedBudget manager
  .changeset/few-pugs-behave.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

fix: add contracts to build inputs
  turbo.json
Labels: none

[ADHOC] chore: version packages (#343)
  .changeset/calm-numbers-add.md
  .changeset/few-pugs-behave.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

feat(evm): add initial contracts to intent settlement and validation
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/intents/ERC7683.sol
  packages/evm/contracts/intents/ResolvedCrossChainOrderLib.sol
  packages/evm/contracts/intents/SignatureVerification.sol
  packages/evm/contracts/intents/Structs.sol
  packages/evm/contracts/intents/account/ExperimentalDelegation.sol
  packages/evm/contracts/shared/IGetBoost.sol
  packages/evm/contracts/shared/ILatchValidator.sol
  packages/evm/contracts/validators/IntentValidator.sol
Labels: EVM

fix(evm): intent validator - add fillerData param
  packages/evm/contracts/intents/DestinationSettler.sol
Labels: EVM

fix(evm): get stuff compiling
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/intents/Structs.sol
  packages/evm/contracts/intents/utils/ECDSA.sol
  packages/evm/contracts/intents/utils/MultiSend.sol
  packages/evm/contracts/intents/utils/P256.sol
  packages/evm/contracts/intents/utils/WebAuthnP256.sol
  packages/evm/contracts/shared/IGetBoost.sol
  packages/evm/contracts/shared/ILatchValidator.sol
  packages/evm/contracts/validators/IntentValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
Labels: EVM

chore: add extra artifacts
  packages/evm/contracts/intents/ERC7683Permit2Lib.sol
  packages/evm/contracts/intents/IPermit2.sol
  packages/evm/contracts/intents/OriginSettler.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
