Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore(sdk): more jsdoc fixes, remove Read/Write generic params to prevent doc bloat
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
Labels: SDK

chore(sdk): correct all typedoc return types
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK

[ADHOC] chore(sdk): correct all typedoc return types (#182)
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
Labels: SDK

fix(evm,sdk): fix encoded interfaceIds to 4 bytes
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK, EVM

fix(evm): enable multiple claims by an address for ERC1155Incentives
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
Labels: EVM

fix(evm,sdk): fix encoded interfaceIds to 4 bytes
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK, EVM

chore(ci,repo): replace all rabbitholegg with boostxyz, replace GITHUB_TOKEN bc transfer broke perms
  .changeset/config.json
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/danger.yaml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
  README.md
  dangerfile.ts
  package.json
  packages/cli/package.json
  packages/evm/foundry.toml
  packages/evm/package.json
  packages/sdk/package.json
  packages/signatures/package.json
Labels: SDK, EVM, signatures

ci: add token to checkout to get changesets working
  .github/actions/install-dependencies/action.yml
  .github/workflows/danger.yaml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
Labels: none

fix(evm): enable multiple claims by an address for ERC1155Incentives
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
Labels: EVM

test: add agora vote example
  examples/agora-vote/.env.sample
  examples/agora-vote/hardhat.config.cjs
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/tsconfig.json
  examples/agora-vote/vitest.config.ts
  packages/signatures/manifests/events.json
  test/src/viem.ts
Labels: signatures, examples

chore: update pnpm-lock to include agora-vote
  pnpm-lock.yaml
Labels: none

chore: add changeset
  .changeset/fifty-frogs-repair.md
Labels: changeset

chore: address PR comments
  examples/agora-vote/src/agora-vote.test.ts
  packages/signatures/manifests/functions.json
Labels: signatures, examples

docs(signatures): create README, add readable signatures as keys to abi manifests
  .changeset/healthy-socks-stare.md
  packages/signatures/README.md
  packages/signatures/build.js
Labels: signatures, changeset

[BOOST-4684] test: add agora vote example (#160)
  .changeset/fifty-frogs-repair.md
  examples/agora-vote/.env.sample
  examples/agora-vote/hardhat.config.cjs
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/tsconfig.json
  examples/agora-vote/vitest.config.ts
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
  pnpm-lock.yaml
  test/src/viem.ts
Labels: signatures, examples, changeset

chore: tweak changesets pr title
  .github/workflows/on-push-to-main.yml
Labels: none

ci: ignore danger if in changeset pr
  dangerfile.ts
Labels: none

test: remove hash and chain id checks since they are now enforced by types
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

chore: add changeset
  .changeset/nasty-planes-remain.md
Labels: changeset

feat(action-step): handle data fetching at action step level
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor(errors): add validation errors for hash and chain id
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

refactor: simplify action step params type
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

ci: fix zora mint test
  examples/zora-mint/src/zora-mint.test.ts
Labels: examples

docs: add missing input param
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[BOOST-4797] feat(action-step): handle data fetching at action step level (#173)
  .changeset/nasty-planes-remain.md
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK, examples, changeset

chore(danger): don't fail if not using the pr template and wrote some stuff
  dangerfile.ts
Labels: none

feat(evm): implement Variable Incentive Criteria
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
Labels: EVM

test(evm): test variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

feat(sdk): add ts helper file for Variable Criteria Incetive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

fix(evm): make initialize virtual
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

feat(evm): add variable criteria incentive to deploy modules
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

refactor(sdk): change inheritance for Variable Critiria Incentive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

feat(sdk): add variable criteria incentive to CLI deplo
  packages/cli/src/commands/deploy.ts
Labels: none

feat(sdk): add variable crtieria incentive plumbing
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK

refactor(sdk): move tx lookup order in getIncentiveScalar
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

feat(sdk): add ERC20VariableCriteriaIncentive to Inentive helper file
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

test(sdk): variable criteria incentives test
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/signatures/manifests/functions.json
Labels: SDK, signatures

chore: deploy
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426652.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426757.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426769.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426947.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728427070.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1728427352.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: deploy
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426652.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426757.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426769.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426947.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728427070.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1728427352.json
  packages/evm/deploys/11155111.json
Labels: EVM

refactor(sdk): prefer wagmi utils vs viem
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
