Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore(sdk,LimitedSigner): backfill refs into more places for compat
  packages/cli/src/commands/deploy.ts
  packages/sdk/.env.sample
  packages/sdk/package.json
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK

feat(sdk): implement LimitedSignerValidator in the SDK
  .changeset/sweet-shrimps-prove.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Validators/LimitedSignerValidator.test.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, changeset

chore(sdk,LimitedSigner): backfill refs into more places for compat
  packages/cli/src/commands/deploy.ts
  packages/sdk/.env.sample
  packages/sdk/package.json
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK

refactor(sdk): use an enum for cheat codes
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/utils.ts
Labels: SDK

Create chilly-pets-live.md
  .changeset/chilly-pets-live.md
Labels: changeset

feat(signatures): add boost events
  packages/signatures/manifests/events.json
Labels: signatures

chore: generate changeset
  .changeset/real-planes-ring.md
Labels: changeset

feat(signatures): add SecondaryBuy event signature
  packages/signatures/manifests/events.json
Labels: signatures

[ADHOC]: add BoostCreated and BoostClaimed events to signatures (#228)
  .changeset/real-planes-ring.md
  packages/signatures/manifests/events.json
Labels: signatures, changeset

fix(sdk,EventAction): must specify chainId during validation to cover all conditional cases
  .changeset/fluffy-foxes-joke.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

[ADHOC] fix(sdk,EventAction): must specify chainId during validation to cover all conditional cases (#230)
  .changeset/fluffy-foxes-joke.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat(sdk): add helper for gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

Create chilly-pets-live.md
  .changeset/chilly-pets-live.md
Labels: changeset

test(sdk): helpers for variable criteria gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Labels: SDK

refactor(sdk): use an enum for cheat codes
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/utils.ts
Labels: SDK

ci: fix build, update eoa to real one
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Validators/Validator.test.ts
  packages/sdk/src/index.test.ts
Labels: SDK

feat(sdk): add BoostValidatorEOA enum, default signer to it if none provided during createBoost
  .changeset/rude-planes-hammer.md
  .github/workflows/on-push-to-main.yml
  .github/workflows/verify.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  turbo.json
Labels: SDK, examples, changeset

ci: fix tests
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
Labels: SDK

ci: fix caching
  .github/actions/install-dependencies/action.yml
Labels: none

[ADHOC] feat(sdk): add BoostValidatorEOA enum, default signer to it if none provided during createBoost (#227)
  .changeset/rude-planes-hammer.md
  .github/actions/install-dependencies/action.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/verify.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.test.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.test.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  turbo.json
Labels: SDK, examples, changeset

refactor(sdk): erc20variablecriteria extends erc20variable, remove dependence on signatures
  .changeset/tender-crabs-sniff.md
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  pnpm-lock.yaml
Labels: SDK, changeset

refactor(sdk): erc20variablecriteria extends erc20variable, remove dependence on signatures (#231)
  .changeset/tender-crabs-sniff.md
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  pnpm-lock.yaml
Labels: SDK, changeset

Version Packages (alpha) (#226)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, EVM, signatures

fix(SignerValidator): use PrivateKeyAccount's signTypedData
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK

chore: add changeset
  .changeset/ten-horses-sleep.md
Labels: changeset

[ADHOC] Fix SignerValidator Signature (#232)
  .changeset/ten-horses-sleep.md
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

Version Packages (alpha) (#233)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

fix(sdk,EventAction): transactionSenderClaimant needs chainId, always use chainId off step/claiamnt
  .changeset/great-roses-sort.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

chore: add component interface for variable critieria incentive
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK, EVM

fix(evm): call super.supportsInterface
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
Labels: EVM

fix(evm): tweak interface generation
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

Revert "fix(sdk,EventAction): transactionSenderClaimant needs chainId, always use chainId off step/claiamnt"
  .changeset/great-roses-sort.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

fix(sdk): add chain id to transactionSenderClaimant
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

fix(evm): tweak interface generation
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

fix(sdk): add chain id to transactionSenderClaimant
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

fix(evm): call super.supportsInterface
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
Labels: EVM

chore: add component interface for variable critieria incentive
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK, EVM

fix(sdk,EventAction): transactionSenderClaimant needs chainId, always use chainId off step/claiamnt
  .changeset/great-roses-sort.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

fix(sdk,EventAction): support passing any GetTransactionParameters
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: changeset
  .changeset/soft-schools-warn.md
Labels: changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
