Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore(evm): deploy to base, sepolia and base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733945427.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733946668.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733946167.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733946091.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733947031.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733946501.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

Create tame-lobsters-care.md
  .changeset/tame-lobsters-care.md
Labels: changeset

chore(evm): deploy to base, sepolia and base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733945427.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733946668.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733946167.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733946091.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733947031.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733946501.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

Create tame-lobsters-care.md
  .changeset/tame-lobsters-care.md
Labels: changeset

chore: remove unused variables
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): add fuzz testing for additional fees
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): Pegged Variable Criteria Incentive
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

test(evm): Pegged Variable Criteria Incentive
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
Labels: EVM

feat(evm): Pegged Variable Criteria Incentive scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

test(sdk): Pegged Variable Criteria Incentive
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Labels: SDK

feat(signatures): add new event and function signatures
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: signatures

chore: generate changeset
  .changeset/empty-weeks-cross.md
Labels: changeset

fix(evm): tweak deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

fix(sdk): capitilization issue
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

chore: remove unused variables
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): add fuzz testing for additional fees
  packages/evm/test/BoostCore.t.sol
Labels: EVM

[ADHOC]: add new signatures for coop records (#327)
  .changeset/empty-weeks-cross.md
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: signatures, changeset

Version Packages (#328)
  .changeset/empty-weeks-cross.md
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: signatures, changeset

refactor: correct interface name and update comments
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

refactor(Incentives): rename methods for clarity and consistency
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat(Incentives): add peg method for peggedVariableCriteriaIncenitve
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat: add criteria to incentive payload interface
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat: add getIncentiveScalar method to Erc20PeggedVariableCriteriaIncentive class
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat(helpers): add ERC20PeggedVariableCriteriaIncentive support
  test/src/helpers.ts
Labels: none

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

refactor(Incentive): update incentive type mapping key
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

feat(evm): add criteria to ERC20PeggedIncentive
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

chore: format
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

feat: add criteria parameter to incentive payload function
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

test: add basic and owner-related tests for ERC20 incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

fix: grant proper roles for clawbackFromTarget test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

fix: rearrange params
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, EVM

test: Remove unused function and update test values
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

feat(EventAction): add transfer log decoding for ERC20/ERC721
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
Labels: SDK

chore: add sdk/cache to ignored paths in biome.json
  biome.json
Labels: none

refactor(EventAction): remove unused crypto import
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat(utils): update transfer signature to use events selector
  packages/sdk/src/utils.ts
Labels: SDK

chore: generate changeset
  .changeset/sixty-mirrors-wink.md
Labels: changeset

chore: generate changeset
  .changeset/five-chicken-float.md
Labels: changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
