Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

feat: add zero address validation to TBIForwarder initialization
  packages/evm/contracts/timebased/TBIForwarder.sol
Labels: EVM

docs: clarify Compound v2 cToken deposit limitations
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Labels: EVM

chore: add log output to TBIForwarder upgrade script
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
Labels: EVM

[ADHOC] Add TBIForwarder stateless deposit router (#529)
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

chore: deploy tbi to new chains
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1776287008085.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1776287082183.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1776286817238.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1776285113973.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1776287249961.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-1776283221410.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-1776283066763.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-1776281971678.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776284731864.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285200104.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285292494.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284414550.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284581498.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-1776283796756.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Labels: EVM

[ADHOC] Deploy TBI contracts to additional EVM chains (#530)
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1776287008085.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1776287082183.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1776286817238.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1776285113973.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1776287249961.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-1776283221410.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-1776283066763.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-1776281971678.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776284731864.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285200104.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285292494.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284414550.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284581498.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-1776283796756.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Labels: EVM

chore: deploy on arbitrum
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/deploys/42161.json
Labels: EVM

chore: deploy to mainnet
  packages/evm/broadcast/Deploy.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/1/run-latest.json
  packages/evm/deploys/1.json
Labels: EVM

chore: deploy to hyperevm
  packages/evm/broadcast/Deploy.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-1776303984703.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-latest.json
  packages/evm/deploys/999.json
Labels: EVM

[ADHOC] deploy on arbitrum (#531)
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/deploys/42161.json
Labels: EVM

[ADHOC] deploy on mainnet (#532)
  packages/evm/broadcast/Deploy.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/1/run-latest.json
  packages/evm/deploys/1.json
Labels: EVM

[ADHOC] deploy on hyperevm (#533)
  packages/evm/broadcast/Deploy.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-1776303984703.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-latest.json
  packages/evm/deploys/999.json
Labels: EVM

feat: add support for Arbitrum, Ethereum, and HyperEVM chains
  .changeset/light-cheetahs-notice.md
Labels: changeset

chore: exit pre-release mode and format changeset config
  .changeset/pre.json
Labels: none

[ADHOC] SDK release 8.1.0 (#534)
  .changeset/light-cheetahs-notice.md
  .changeset/pre.json
Labels: changeset

Version Packages (#535)
  .changeset/light-cheetahs-notice.md
  .changeset/pre.json
  .changeset/rude-owls-divide.md
  .changeset/three-readers-deny.md
  .changeset/three-swans-prove.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

feat(TBIForwarderAdapters): Support explicit receiver for deposit adapters
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(evm): TBIForwarder deployments on all mainnets
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1777493924397.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1777493401045.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1777492906640.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1777493294633.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1777493080664.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Labels: EVM

feat(TBIForwarder): Add support for kyber swap
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385151226.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385248128.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398185385.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398321943.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823717399.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823777258.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779828117280.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(TBIForwarder): Add support for Lido
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-1781047208879.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat: upgrade op module contracts
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1781300316346.json
  packages/evm/deploys/10.json
Labels: EVM

feat: deploy boostcore to polygon
  packages/evm/broadcast/Deploy.s.sol/137/run-1781301071277.json
  packages/evm/broadcast/Deploy.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-1781301663310.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-latest.json
  packages/evm/deploys/137.json
Labels: EVM

chore: deploy tbi contracts on op and polygon
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-1781303918797.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-1781304469664.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-1781306179511.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-1781306321232.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
Labels: EVM

[ADHOC] Contract deployments to OP and Polygon (#537)
  packages/evm/broadcast/Deploy.s.sol/137/run-1781301071277.json
  packages/evm/broadcast/Deploy.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1781300316346.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-1781301663310.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-1781303918797.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-1781304469664.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-1781306179511.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-1781306321232.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-latest.json
  packages/evm/deploys/137.json
Labels: EVM

feat(TBIForwarderAdapters): Add generic Midas depositInstant adapter
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(TBIForwarder): Add support for kyber swap
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385151226.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385248128.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398185385.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398321943.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823717399.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823777258.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779828117280.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

[BOOST-6525] Add generic Midas depositInstant adapter (#538)
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(TBIForwarderAdapters): Support explicit receiver for deposit adapters
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(TBIForwarder): Add support for Lido
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-1781047208879.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat(evm): TBIForwarder deployments on all mainnets
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1777493924397.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1777493401045.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1777492906640.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1777493294633.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1777493080664.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Labels: EVM

chore(evm): upgrade forwarder on optimism and polygon
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-1781733371772.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-1781733466965.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-latest.json
Labels: EVM

chore(evm): deploy forwarder to optimism and polygon
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-1781732721596.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-1781732841427.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
Labels: EVM

[ADHOC] Adds explicit receiver to deposit adapters (#536)
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1777493924397.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-1781732721596.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-1781732841427.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1777493401045.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1777492906640.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1777493294633.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1777493080664.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-1781047208879.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-1781733371772.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-1781733466965.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385151226.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385248128.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398185385.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398321943.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823717399.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823777258.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779828117280.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Labels: EVM

feat: add TBI timelock deployment script with Solady handover support
  packages/evm/script/solidity/Deploy_TBITimelock.s.sol
Labels: EVM

test: fix stale proof test to respect monotonic commitment
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

feat: enforce commitment constraints in setMerkleRoot
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
Labels: EVM

docs: clarify merkle root immutability after finalization
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Labels: EVM

feat: validate claims against committed amount
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
Labels: EVM

feat: add error types for commitment validation
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
Labels: EVM

test: fix batch update test to respect commitment budget
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
