Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, examples, documentation

.github/labeler.yml:

"SDK":
  - "packages/sdk/**/*"
"EVM":
  - "packages/evm/**/*"
"examples":
  - "packages/examples/**/*"
"documentation":
  - "docs/**/*"

fix(sdk): split EventAction input params into two objects
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore(sdk): rename logParams to txParams
  .changeset/great-files-cheer.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): eliminate unnecessary getter args param from validate
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore(sdk): rename logParams to txParams
  .changeset/great-files-cheer.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): split EventAction input params into two objects
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): eliminate unnecessary getter args param from validate
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: update biome exclusion rules
  biome.json
Labels: none

feat(sdk): support Regex filtering on string events
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/test/helpers.ts
  packages/signatures/manifests/events.json
Labels: SDK, EVM

feat(sdk): utilize abi-parsed args instead of topics
  package.json
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/test/helpers.ts
  packages/signatures/manifests/events.json
  pnpm-lock.yaml
Labels: SDK, EVM

fix(sdk): docstrings for new EventAction exports
  .changeset/great-bulldogs-buy.md
  .changeset/tiny-baboons-buy.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix: remove unused hardhat-toolbox-viem from hardhat configs
  packages/evm/hardhat_build.config.cjs
  packages/sdk/hardhat.config.cjs
Labels: SDK, EVM

fix: remove unused hardhat-toolbox-viem from hardhat configs
  packages/evm/hardhat_build.config.cjs
  packages/sdk/hardhat.config.cjs
Labels: SDK, EVM

feat(sdk): support Regex filtering on string events
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/test/helpers.ts
  packages/signatures/manifests/events.json
Labels: SDK, EVM

fix(sdk): docstrings for new EventAction exports
  .changeset/great-bulldogs-buy.md
  .changeset/tiny-baboons-buy.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat(sdk): utilize abi-parsed args instead of topics
  package.json
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/test/helpers.ts
  packages/signatures/manifests/events.json
  pnpm-lock.yaml
Labels: SDK, EVM

refactor: update hardhat configuration for Base chain ID
  packages/sdk/hardhat.config.cjs
Labels: SDK

refactr: update swap test to use function selectors
  packages/sdk/test/swap-specific-dex.test.ts
Labels: SDK

test(evm): add failing test for BoostClaimed event
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): add BoostClaimed event to claims
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(sdk): tests passing for refactor
  examples/next/public/site.webmanifest
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/ens-register.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
Labels: SDK

chore(sdk): comprehensive utility to resolve protocol addresses by chain id
  .changeset/shaggy-students-end.md
  packages/cli/src/commands/deploy.ts
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
Labels: SDK, EVM

fix(signatures): pad function selectors to 32 bytes
  .changeset/red-stingrays-greet.md
  packages/signatures/build.js
Labels: none

chore: init uniswap example
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/uniswap-fork-swap.test.ts
  packages/sdk/vitest.config.ts
  packages/signatures/manifests/functions.json
Labels: SDK

fix: add padding
  packages/sdk/test/uniswap-fork-swap.test.ts
Labels: SDK

fix: add space
  packages/sdk/test/uniswap-fork-swap.test.ts
  packages/signatures/manifests/functions.json
Labels: SDK

chore: update uniswap example
  packages/sdk/test/uniswap-fork-swap.test.ts
Labels: SDK

chore: move WalletClient
  packages/sdk/test/uniswap-fork-swap.test.ts
Labels: SDK

test(sdk): fix validation tests
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix: include fixes that allow fork test to pass
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
  packages/sdk/test/zora-fork-mint.test.ts
  packages/sdk/vitest.config.ts
  packages/signatures/manifests/events.json
Labels: SDK

[BOOST-4730] fix(evm): revert createBoost if no Validator
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

Apply suggestions from code review
  packages/sdk/hardhat.config.cjs
Labels: SDK

fix(evm): Correctly mask leading bits when checking toggle status
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

fix(evm): Correctly mask leading bits when checking toggle status
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

feat(signatures): update DelegateChanged signature format
  packages/signatures/manifests/events.json
Labels: none

test(delegate-action): update selector and field indices
  packages/sdk/test/delegate-action.test.ts
Labels: SDK

feat(signatures): add register function signature
  packages/signatures/manifests/functions.json
Labels: none

test(ens-register): update tests for function signatures
  packages/sdk/test/ens-register.test.ts
Labels: SDK

ci: fix hardhat configs
  .github/workflows/verify.yml
  examples/delegate-action/hardhat.config.cjs
  examples/ens-register/hardhat.config.cjs
  package.json
  test/package.json
Labels: none

ci: fix hardhat configs
  package.json
Labels: none

fix: remove unused erc1155incentive interfaces
  packages/sdk/src/BoostCore.test.ts
Labels: SDK
