Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

feat(evm): mainnet upgrades
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1758312217.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1758312300.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1758312166.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-latest.json
Labels: EVM

chore: generate changeset
  .changeset/slow-rivers-peel.md
Labels: changeset

[ADHOC] feat: add clawbackevent (#477)
  .changeset/slow-rivers-peel.md
  .github/workflows/verify.yml
  .gitmodules
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1758312217.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1758311573.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1758312300.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1758312166.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1758311741.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-latest.json
  packages/evm/contracts/archive/BoostCoreV1.sol
  packages/evm/foundry.toml
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
  packages/evm/script/solidity/ValidateBoostCoreUpgrade.s.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM, changeset

test: add tests for getScalarValueFromTuple function
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat(EventAction): use 32bit index packing for variable criteria incentive
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

docs: mark CriteriaFieldIndex methods as deprecated
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor: rename and deprecate getScalarValueFromTuple
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test: Update tests to use getScalarValue function
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat: add 32bit tuple support to variable incentives
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

chore: generate changeset
  .changeset/loud-spies-nail.md
Labels: changeset

test(EventAction): add tests for error handling and return value
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

refactor: add early return if bigint found
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[BOOST-5819] add nested tuple support to variable incentives (#479)
  .changeset/loud-spies-nail.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK, changeset

Version Packages (canary) (#478)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

chore(evm): archive BoostCoreV1.1
  packages/evm/contracts/archive/BoostCoreV1_1.sol
Labels: EVM

feat(evm): enable referral fees
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore: add changeset
  .changeset/stale-nails-prove.md
Labels: changeset

chore: increase size
  .github/workflows/on-pull-request.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
Labels: none

test: add protocol fee tests
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix: update fieldIndex type to uint32 in payloads
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

chore: generate changeset
  .changeset/odd-cobras-yawn.md
Labels: changeset

fix(evm): add incentive id to event
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

[ADHOC] update field index types from unit8 to uint32 (#481)
  .changeset/odd-cobras-yawn.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK, changeset

Version Packages (canary) (#482)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

chore: disable format on save for solidity files (utilize lefthook)
  .vscode/settings.json
Labels: none

feat(evm): add new validators to handle referrals in claim data
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ALimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/APayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/ASignerValidatorV2.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/SignerValidatorV2.sol
Labels: EVM

test(evm): add tests for referrals
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndSignerValidatorV2.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Labels: EVM

chore(evm): update scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: reuse IBoostCore interface
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Labels: EVM

fix(evm): handle underflow
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): address CodeRabbit suggestions
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Labels: EVM

feat(evm): enable referral fees
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore: add changeset
  .changeset/stale-nails-prove.md
Labels: changeset

chore(evm): archive BoostCoreV1.1
  packages/evm/contracts/archive/BoostCoreV1_1.sol
Labels: EVM

test: add protocol fee tests
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(evm): add incentive id to event
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

chore: increase size
  .github/workflows/on-pull-request.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
Labels: none

chore(evm): update scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

fix(evm): accept LimitedSignerValidatorV2 and PayableLimitedValidatorV2
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/validators/ALimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/APayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/ASignerValidatorV2.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/e2e/EndToEndLimitedSignerValidatorV2.t.sol
Labels: EVM

chore(evm): address CodeRabbit suggestions
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
