Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

chore(evm): deploy relevant intent artifacts
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

test(evm): Intent Validator
  packages/evm/test/validators/IntentValidator.t.sol
Labels: EVM

fix(evm): make intent validator abstract and fix imports
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/validators/AIntentValidator.sol
Labels: EVM

test(evm): add destination settler test contracts
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/validators/AIntentValidator.sol
  packages/evm/contracts/validators/IntentValidator.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/intents/DestinationSettler.t.sol
Labels: EVM

fix(evm): small merge regression
  packages/evm/contracts/intents/DestinationSettler.sol
Labels: EVM

feat(signatures): add WowToken event signatures to JSON
  packages/signatures/manifests/events.json
Labels: signatures

chore: generate changeset
  .changeset/khaki-squids-compare.md
Labels: changeset

[ADHOC] add wow event signatures (#346)
  .changeset/khaki-squids-compare.md
  packages/signatures/manifests/events.json
Labels: signatures, changeset

chore(evm): deploy relevant intent artifacts
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

fix(evm): make imports consistent so wagmi builds
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/intents/OriginSettler.sol
  packages/evm/contracts/intents/account/ExperimentalDelegation.sol
Labels: EVM

fix(evm): remove unused param from IntentValidator test setup
  packages/evm/test/validators/IntentValidator.t.sol
Labels: EVM

test(ERC20PeggedVariableCriteriaIncentive): minor update for tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

feat: fix decodeClaimData for `ERC20PeggedVariableCriteriaIncentive`
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

test: add test for claiming ERC20PeggedVariableIncentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore: add option to pass in reward and maxReward
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

chore: create second helper for decoding
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

chore: add changeset
  .changeset/wicked-humans-fix.md
Labels: changeset

[ADHOC] Fix decodeClaimData for ERC20PeggedVariableCriteriaIncentive (#345)
  .changeset/wicked-humans-fix.md
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, changeset

forge install: forge-std
  .gitmodules
Labels: none

Version Packages (#347)
  .changeset/khaki-squids-compare.md
  .changeset/wicked-humans-fix.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, signatures, changeset

test(evm): validate eip-7702 deploy flow and permissioned delegation
  packages/evm/package.json
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/SetupIntents.s.sol
Labels: EVM

hack together a rough deploy and boost creation script
  packages/evm/contracts/validators/IntentValidator.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/SetupIntents.s.sol
Labels: EVM

make it a little less painful to use other deployers
  packages/evm/contracts/intents/OriginSettler.sol
  packages/evm/script/solidity/SetupIntents.s.sol
Labels: EVM

feat(evm): add contract changes for tuple EventAction support
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, EVM

feat(sdk): modify EventAction.ts to support tuples
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): tweak type and function flow in EventAction for tuples
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): EventAction for tuples
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

chore(sdk): add some tuple related info in readme
  packages/sdk/README.md
Labels: SDK

test(sdk): cleanup error messages
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

chore(sdk): add error and fix imports
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

Create itchy-news-exercise.md
  .changeset/itchy-news-exercise.md
Labels: changeset

Create itchy-news-exercise.md
  .changeset/itchy-news-exercise.md
Labels: changeset

chore(sdk): add some tuple related info in readme
  packages/sdk/README.md
Labels: SDK

feat(sdk): modify EventAction.ts to support tuples
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): cleanup error messages
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

chore(sdk): add error and fix imports
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): EventAction for tuples
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat(evm): add contract changes for tuple EventAction support
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, EVM

fix(sdk): tweak type and function flow in EventAction for tuples
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat: add incentive fees information retrieval method
  packages/sdk/src/BoostCore.ts
Labels: SDK
