Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, examples, documentation

.github/labeler.yml:

"SDK":
  - "packages/sdk/**/*"
"EVM":
  - "packages/evm/**/*"
"examples":
  - "packages/examples/**/*"
"documentation":
  - "docs/**/*"

feat(sdk): ManagedBudgetRoles as ts enum, tweak gha cache strategy
  .changeset/cuddly-toes-push.md
  .github/actions/install-dependencies/action.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  biome.json
  packages/sdk/src/Budgets/ManagedBudget.ts
Labels: SDK

fix(sdk,tests): actually test managedbudget
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
Labels: SDK

ci: consolidate build/test actions, test:ci requires build, saves time
  .github/workflows/verify.yml
Labels: none

chore: address PR comments
  packages/sdk/test/agora-fork-vote.test.ts
Labels: SDK

feat(sdk): add OpenAllowList as zero config extension of SimpleDenyList
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/OpenAllowList.test.ts
  packages/sdk/src/AllowLists/OpenAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/test/helpers.ts
Labels: SDK

chore(sdk, OpenAllowList): remove redundant static props
  .changeset/chatty-eagles-collect.md
  packages/sdk/src/AllowLists/OpenAllowList.ts
Labels: SDK

test(sdk): update OpenAllowList test helpers
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/OpenAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/test/helpers.ts
Labels: SDK

build: update nvmrc to 20.x
  .nvmrc
Labels: none

chore(sdk): enable tsconfig for test files
  .gitignore
  packages/cli/tsconfig.json
  packages/sdk/package.json
  packages/sdk/tsconfig.build.json
Labels: SDK

chore(sdk): enable tsconfig for test files
  .gitignore
  packages/cli/tsconfig.json
  packages/sdk/package.json
  packages/sdk/tsconfig.build.json
Labels: SDK

[BOOST-4729] fix(evm): make mulitiple CGDA claims impossible
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

[BOOST-4730] fix(evm): revert createBoost if no Validator
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat: make asset fields default to the zero address
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.ts
Labels: SDK

chore: add changeset
  .changeset/silver-bobcats-switch.md
Labels: none

ci(cache): tweak cache key to use git sha
  .github/actions/install-dependencies/action.yml
Labels: none

fix(sdk): tweak error handling in EventAction
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

test(sdk): add tests for function handling in event actions
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat(sdk): add additional helpers into EventAction for function validation
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

feat(sdk): use trim and additional error handling in isActionFunctionValid
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor(sdk): change validation types to address nit from @sammccord
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): rectify SignatureType import post utils refactor
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): fix error string for failed function decoding
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

refactor(sdk): prefere custom error for function decoding
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

refactor(sdk): prefere custom error for function decoding
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

test(sdk): add tests for function handling in event actions
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

refactor(sdk): change validation types to address nit from @sammccord
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): fix error string for failed function decoding
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat(sdk): add additional helpers into EventAction for function validation
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

feat(sdk): use trim and additional error handling in isActionFunctionValid
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): rectify SignatureType import post utils refactor
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(sdk): tweak error handling in EventAction
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK

build: update pnpm to 9.4.0
  .github/actions/install-dependencies/action.yml
  package.json
  pnpm-lock.yaml
Labels: none

chore: update pnpm-lock
  examples/next/package.json
  pnpm-lock.yaml
Labels: none

chore(examples): use react-query in next example for core info
  README.md
  examples/next/src/app/page.tsx
  examples/next/src/components/MainPane/MainPane.tsx
  examples/next/src/components/MainPane/components/BoostCoreInfo.tsx
  examples/next/src/components/MainPane/components/index.ts
  examples/next/src/styles/mainPane.module.css
Labels: none

feat(examples): basic sdk integration in next example
  examples/next/public/img/boost-logo.png
  examples/next/src/app/page.tsx
  examples/next/src/app/providers.tsx
  examples/next/src/components/BoostContext/BoostContext.tsx
  examples/next/src/components/BoostContext/index.ts
  examples/next/src/components/DarkModeButton/DarkModeButton.tsx
  examples/next/src/components/DarkModeButton/index.ts
  examples/next/src/components/Header/Header.tsx
  examples/next/src/components/index.ts
Labels: none

chore(example): next progress
  .npmrc
  examples/kitchen-sink/src/index.ts
  examples/next/.env.sample
  examples/next/package.json
  examples/next/src/app/layout.tsx
  examples/next/src/app/page.tsx
  examples/next/src/components/BoostContext/BoostContext.tsx
  examples/next/src/components/BoostList/BoostList.tsx
  examples/next/src/components/BoostList/index.ts
  examples/next/src/components/Footer/Footer.tsx
  examples/next/src/components/Footer/index.ts
  examples/next/src/components/Header/Header.tsx
  examples/next/src/components/MainPane/MainPane.tsx
  examples/next/src/components/MainPane/components/BoostCoreInfo.tsx
  examples/next/src/components/MainPane/mainPane.module.css
  examples/next/src/components/index.ts
  examples/next/src/hooks/useBoostCount.ts
  package.json
  packages/extra/package.json
  packages/extra/src/MockERC1155.ts
  packages/extra/src/MockERC20.ts
  packages/extra/src/MockERC721.ts
  packages/extra/src/MockPoints.ts
  packages/extra/src/index.ts
  packages/extra/tsconfig.json
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/MockPoints.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: SDK

chore: clanup
  examples/next/package.json
  examples/next/src/app/layout.tsx
  examples/next/src/app/page.tsx
  examples/next/src/app/providers.tsx
  examples/next/src/components/AddressInput/Jazzicons.tsx
  examples/next/src/components/Header/Header.tsx
  examples/next/src/components/InfoText/InfoText.tsx
  examples/next/src/components/MainPane/MainPane.tsx
  examples/next/src/components/MainPane/components/BoostCoreInfo.tsx
  examples/next/src/components/MainPane/components/SignMessage.tsx
  examples/next/src/components/MainPane/components/TransferNative.tsx
  examples/next/src/components/MainPane/mainPane.module.css
  examples/next/src/hooks/useBoostInfo.ts
  examples/next/src/hooks/useNotify.ts
Labels: none

chore: test out account switching
  examples/next/package.json
  examples/next/src/app/layout.tsx
  examples/next/src/app/page.tsx
  examples/next/src/app/providers.tsx
  examples/next/src/components/AddressInput/AddressInput.tsx
  examples/next/src/components/AddressInput/index.ts
  examples/next/src/components/BoostContext/BoostContext.tsx
  examples/next/src/components/Header/Header.tsx
  examples/next/src/components/InfoText/InfoText.tsx
  examples/next/src/components/MainPane/MainPane.tsx
  examples/next/src/components/MainPane/components/index.ts
  examples/next/src/components/Providers/Providers.tsx
  examples/next/src/components/index.ts
  examples/next/src/hooks/index.ts
  examples/next/src/hooks/useDebounce.ts
  examples/next/src/hooks/useSignMessageHook.ts
  examples/next/src/hooks/useWindowSize.ts
  examples/next/src/styles/globals.css
Labels: none

fix: update target contract for action claimant
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

chore: update biome exclusion rules
  biome.json
Labels: none
