Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

[BOOST-4904] deprecate managedbudgetroles enum for roles (#257)
  .changeset/lazy-cows-sip.md
  packages/sdk/src/Budgets/ManagedBudget.ts
  test/src/helpers.ts
Labels: SDK, changeset

chore(sdk): changeset
  .changeset/fair-baboons-sin.md
Labels: changeset

ci: fix lock
  pnpm-lock.yaml
Labels: none

[ADHOC] chore(sdk): remove evm as optional dep (#259)
  .changeset/fair-baboons-sin.md
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Labels: SDK, changeset

[ADHOC][DONT MIND ME] chore: general cleanup i'm adding to gradually (#250)
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
Labels: SDK

fix(zora-mint); hh block config
  examples/zora-mint/hardhat.config.cjs
Labels: examples

ci: fix typedoc dep graph
  turbo.json
Labels: none

fix(zora-mint); hh block config
  examples/zora-mint/hardhat.config.cjs
Labels: examples

Version Packages (alpha) (#260)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

ci(examples): keep hardhat process alive, kill afterwards
  .github/workflows/use-cases.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/vitest.config.ts
  examples/delegate-action/vitest.config.ts
  examples/ens-register/vitest.config.ts
  examples/swap-specific-dex/vitest.config.ts
  examples/zora-mint/vitest.config.ts
  test/src/setup.hardhat.ts
  turbo.json
Labels: examples

ci: each example manage their own hardhat process
  .github/workflows/use-cases.yml
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
  test/src/setup.hardhat.ts
Labels: examples

fix(examples): reduce cost of ens-register boost
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
Labels: examples

ci: try to tweak substution syntax
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/package.json
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
  examples/zora-mint/src/zora-mint.test.ts
Labels: examples

ci: old pipestatus syntax
  examples/agora-vote/package.json
  examples/agora-vote/vitest.config.ts
  examples/delegate-action/package.json
  examples/delegate-action/vitest.config.ts
  examples/ens-register/package.json
  examples/ens-register/vitest.config.ts
  examples/swap-specific-dex/package.json
  examples/swap-specific-dex/vitest.config.ts
  examples/zora-mint/package.json
  examples/zora-mint/vitest.config.ts
Labels: examples

ci: leave vitest to handle hardhat process
  .github/workflows/use-cases.yml
  examples/agora-vote/vitest.config.ts
  examples/delegate-action/vitest.config.ts
  examples/ens-register/vitest.config.ts
  examples/swap-specific-dex/vitest.config.ts
  examples/zora-mint/vitest.config.ts
Labels: examples

ci: let vitest handle hardhat process
  .github/workflows/use-cases.yml
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
  test/src/setup.hardhat.ts
Labels: examples

ci: try toString on buffer
  test/src/setup.hardhat.ts
Labels: none

ci: cleanup listeners in hardhat spawner
  test/src/setup.hardhat.ts
Labels: none

feat(BoostCore): cast number incentiveId to bigint
  examples/delegate-action/src/delegate-action.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.ts
  test/src/setup.hardhat.ts
Labels: SDK, examples

fix(evm): update claims on claim
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

fix(evm): update claims on claim
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

fix(evm): RBAC perms for variable criteria incentives
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
Labels: EVM

refactor(evm): rename incentives mapping to incentivesFeeInfo
  packages/evm/contracts/BoostCore.sol
Labels: EVM

refactor(evm): rename incentives mapping to incentivesFeeInfo
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): RBAC perms for variable criteria incentives
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
Labels: EVM

feat(cli): implement seed with an incentive deployed and funded
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
  test/src/helpers.ts
Labels: none

feat(cli): rough seed implementation
  .gitignore
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/vite.config.ts
  pnpm-lock.yaml
  test/src/MockERC1155.ts
  test/src/helpers.ts
  test/tsconfig.json
Labels: none

chore: refactor
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/help.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.js
  packages/cli/vite.config.ts
  pnpm-lock.yaml
Labels: none

feat(cli,seed): mint erc20s dynamically for incentives
  packages/cli/src/commands/create-seed.ts
Labels: none

feat(cli): implement file i/o for seed configs
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
Labels: none

feat(cli): integrate and polish seed command with cleaner CLI
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.ts
Labels: none

fix(cli): wait for evm to build before cli attempts to build
  turbo.json
Labels: none

chore: add deploy info to readme
  packages/evm/README.md
Labels: EVM

Create slow-vans-compete.md
  .changeset/slow-vans-compete.md
Labels: changeset

Create slow-vans-compete.md
  .changeset/slow-vans-compete.md
Labels: changeset

chore: add deploy info to readme
  packages/evm/README.md
Labels: EVM

chore: force SDK release for the recent deployment
  .changeset/popular-months-fail.md
Labels: changeset

[ADHOC] chore: force SDK release for the recent deployment (#267)
  .changeset/popular-months-fail.md
Labels: changeset

Version Packages (alpha) (#268)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

feat(cli): rough seed implementation
  .gitignore
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/vite.config.ts
  pnpm-lock.yaml
  test/src/MockERC1155.ts
  test/src/helpers.ts
  test/tsconfig.json
Labels: none

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
