Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

test(sdk): add signer to default LimitedSignerValidator in local testing
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: changeset
  .changeset/chilled-walls-explode.md
Labels: changeset

chore(sdk): address @topocount nits
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

test(sdk): Ensure default behavior is limited by LimitedSignerValidator
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

feat(sdk): switch default validator to LimitedSignerValidator with maxClaimCount of 1
  packages/sdk/src/BoostCore.ts
Labels: SDK

fix(sdk): use LimitedSignerValidator base
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Labels: SDK

chore: add changeset
  .changeset/real-trainers-compete.md
Labels: changeset

[ADHOC] fix(sdk): use LimitedSignerValidator base (#407)
  .changeset/real-trainers-compete.md
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Labels: SDK, changeset

Version Packages (#408)
  .changeset/real-trainers-compete.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

chore(evm): generate interface for LimitedSignerValidator
  packages/evm/script/solidity/ComponentInterface.s.sol
Labels: EVM

chore(sdk): export LimitedSignerValidator component interface
  packages/sdk/src/Validators/Validator.ts
Labels: SDK

chore: add changeset
  .changeset/tough-actors-cross.md
Labels: changeset

[ADHOC] Add limited signer valiator interface (#409)
  .changeset/tough-actors-cross.md
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Validators/Validator.ts
Labels: SDK, EVM, changeset

Version Packages (#410)
  .changeset/tough-actors-cross.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

fix: sign typedData using signer.privateKey
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Labels: SDK

chore: generate changeset
  .changeset/seven-ducks-invite.md
Labels: changeset

[ADHOC] sign typedData using signer.privateKey (#411)
  .changeset/seven-ducks-invite.md
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Labels: SDK, changeset

[ADHOC] chore: version packages (#412)
  .changeset/seven-ducks-invite.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

chore: generate changeset
  .changeset/heavy-peas-try.md
Labels: changeset

chore(cli): create types for cli package release
  .changeset/warm-cycles-care.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/shared/Mocks.sol
  pnpm-workspace.yaml
  test/src/MockERC1155.ts
  test/src/MockERC721.ts
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Labels: EVM, changeset

feat(cli): add util function that coerces string values into bigint values given a specific zod schema
  packages/cli/src/utils.ts
Labels: none

feat(cli): adds a util that takes in a Zod type and returns a zod type with all instances of BigInt convert to strings
  packages/cli/src/utils.ts
Labels: none

fix(cli): add ManagedBudgetWithFeesV2 to seed script
  packages/cli/src/commands/seed.ts
Labels: none

chore(cli): create exportable parser for BoostConfigs
  packages/cli/package.json
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
Labels: none

feat(cli): add util function that coerces string values into bigint values given a specific zod schema
  packages/cli/src/utils.ts
Labels: none

fix(cli): add ManagedBudgetWithFeesV2 to seed script
  packages/cli/src/commands/seed.ts
Labels: none

chore(cli): create types for cli package release
  .changeset/warm-cycles-care.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/shared/Mocks.sol
  pnpm-workspace.yaml
  test/src/MockERC1155.ts
  test/src/MockERC721.ts
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Labels: EVM, changeset

chore(cli): create exportable parser for BoostConfigs
  packages/cli/package.json
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
Labels: none

feat(cli): adds a util that takes in a Zod type and returns a zod type with all instances of BigInt convert to strings
  packages/cli/src/utils.ts
Labels: none

feat(evm): implement Transparent Budget and Boost Creation flow
  packages/evm/contracts/budgets/ATransparentBudget.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

chore: return promises for `decodeClaimData` on incentives
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

feat: add `decodeClaimData` for `ERC20VariableCritieriaIncentive`
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

chore: remove promise from ERC20PeggedIncentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

chore: add changeset
  .changeset/clean-parents-laugh.md
Labels: changeset

chore: prevent breaking changes with the magic of generics
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

[ADHOC] Decode Claim Data Update (#419)
  .changeset/clean-parents-laugh.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK, changeset

[BOOST-5265] feat(evm): Support Permit2 on Transparent Budget (#392)
  .github/workflows/verify.yml
  packages/evm/.env.example
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/IPermit2.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

feat(evm): add authorized clawbacks from incentives to TransparentBudget
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

feat: add ValueType enum for incentive criteria
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
Labels: EVM

feat: add ValueType enum for reward calculation type
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK
