Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

feat(evm): support permit2 on Transparent Budget
  packages/evm/.env.example
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/IPermit2.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

test: add sepolia url to gh action environment
  .github/workflows/verify.yml
Labels: none

feat(evm): generate interface for ManagedBudgetWithFeesV2
  packages/evm/script/solidity/ComponentInterface.s.sol
Labels: EVM

feat(sdk): add ManagedBudgetWithFeesV2 to BoostCore
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/index.ts
Labels: SDK

feat(sdk): add ManagedBudgetWithFeesV2
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  test/src/helpers.ts
Labels: SDK

chore: add changeset
  .changeset/beige-peaches-attack.md
Labels: changeset

fix: utilize ManagedBudgetV2 in sdk tests
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  test/src/helpers.ts
Labels: SDK

[ADHOC] Add ManagedBudgetWithFeesV2 to SDK (#394)
  .changeset/beige-peaches-attack.md
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

Version Packages (#395)
  .changeset/beige-peaches-attack.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

chore(sdk): allow overwrite of addresses in BoostCore
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: add changset
  .changeset/late-boxes-sell.md
Labels: changeset

[ADHOC] Allow overwrite of addresses in BoostCore (#396)
  .changeset/late-boxes-sell.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

Version Packages (#397)
  .changeset/late-boxes-sell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

hotfix(sdk): make address optional
  packages/sdk/src/BoostCore.ts
Labels: SDK

[ADHOC] hotfix(sdk): make address optional (#398)
  packages/sdk/src/BoostCore.ts
Labels: SDK

test(sdk): add tests to core for pegged variable criteria incentive and topup
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

fix(sdk): tweak default placeholder values in getTopupPayload
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

fix(sdk): tweak default placeholder values in getTopupPayload
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

test(sdk): add tests to core for pegged variable criteria incentive and topup
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

Revert "[ADHOC] hotfix(sdk): make address optional (#398)"
  packages/sdk/src/BoostCore.ts
Labels: SDK

Revert "[ADHOC] Allow overwrite of addresses in BoostCore (#396)"
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: add changeset
  .changeset/cyan-jokes-play.md
Labels: changeset

[ADHOC] Revert #396 & #398 (#400)
  .changeset/cyan-jokes-play.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

Version Packages (#401)
  .changeset/cyan-jokes-play.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

test(ERC20PeggedIncentive): Add test for claim rejection on duplicate claims
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Labels: EVM

fix: mark claim as completed after transfer
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Labels: EVM

chore: format
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Labels: EVM

chore(evm): deploy LimitedSignerValidator
  packages/evm/README.md
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): deploy LimitedSignerValidator
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1739217115.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1739217966.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1739218119.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1739218063.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

chore(evm): add more security details to readme
  packages/evm/README.md
Labels: EVM

add changeset
  .changeset/forty-rockets-yell.md
Labels: changeset

chore(evm): add more security details to readme
  packages/evm/README.md
Labels: EVM

add changeset
  .changeset/forty-rockets-yell.md
Labels: changeset

chore(evm): deploy LimitedSignerValidator
  packages/evm/README.md
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): deploy LimitedSignerValidator
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1739217115.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1739217966.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1739218119.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1739218063.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM

feat(sdk): switch default validator to LimitedSignerValidator with maxClaimCount of 1
  packages/sdk/src/BoostCore.ts
Labels: SDK

test(sdk): add signer to default LimitedSignerValidator in local testing
  packages/sdk/src/BoostCore.ts
Labels: SDK

test(sdk): Ensure default behavior is limited by LimitedSignerValidator
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

chore: changeset
  .changeset/chilled-walls-explode.md
Labels: changeset

chore(sdk): address @topocount nits
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
