Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

fix: add owner param to BoostCore constructor
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore: use BOOST_CORE_OWNER_ADDRESS to set owner
  packages/evm/script/solidity/Deploy.s.sol
Labels: EVM

[ADHOC] fix: add owner param to BoostCore constructor (#291)
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

chore: sepolia deployments
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: base sepolia deployments
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732658307.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732660593.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: arbitrum deployments
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/deploys/42161.json
Labels: EVM

chore: base deployments
  packages/evm/broadcast/Deploy.s.sol/8453/run-1732670890.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1732671177.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: optimism deployments
  packages/evm/broadcast/Deploy.s.sol/10/run-1732672112.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1732672402.json
  packages/evm/deploys/10.json
Labels: EVM

chore: add changeset
  .changeset/stupid-pans-travel.md
Labels: changeset

[ADHOC] Deployments (#292)
  .changeset/stupid-pans-travel.md
  packages/evm/broadcast/Deploy.s.sol/10/run-1732672112.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1732670890.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732658307.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732660593.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1732672402.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1732671177.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Labels: EVM, changeset

chore: add base sepolia verification
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732674090.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732674395.json
Labels: EVM

fix: add owner param on cli and sdk
  packages/cli/src/commands/deploy.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Labels: SDK

chore: add changeset
  .changeset/curvy-buckets-type.md
Labels: changeset

[ADHOC] Add owner params (#294)
  .changeset/curvy-buckets-type.md
  packages/cli/src/commands/deploy.ts
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732674090.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732674395.json
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

Version Packages (#293)
  .changeset/curvy-buckets-type.md
  .changeset/stupid-pans-travel.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

feat: add ReadParams to various functions across modules
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK

chore: generate changeset
  .changeset/short-spies-kiss.md
Labels: changeset

[BOOST-5051] fix issues with `core.getBoost` (#295)
  .changeset/short-spies-kiss.md
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK, changeset

fix: update args in isClaimable methods across incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

test: add tests for isClaimable functionality
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Labels: SDK

chore: format
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Labels: SDK

chore: format
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
Labels: SDK

chore: generate changeset
  .changeset/quick-berries-decide.md
Labels: changeset

refactor: use empty bytestring instead of zeroHash
  packages/sdk/src/Incentives/AllowListIncentive.ts
Labels: SDK

chore: format
  packages/sdk/src/Incentives/AllowListIncentive.ts
Labels: SDK

[BOOST-4992] fix `incentive.isClaimable()` throws error (#297)
  .changeset/quick-berries-decide.md
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK, changeset

feat(DeployableTargetWithRBAC): add ownership transfer feature
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

feat: add ownership renouncement methods to DeployableTarget
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

feat(DeployableTargetWithRBAC): add ownership handover methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

feat(DeployableTargetWithRBAC): add ownership handover cancellation methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

feat(DeployableTargetWithRBAC): add ownership handover expiry method
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

feat(DeployableTargetWithRBAC): add role renouncement methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK

chore: generate changeset
  .changeset/spicy-monkeys-tease.md
Labels: changeset

chore: format
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
Labels: SDK

[BOOST-4989] add public methods from `Ownable` to `DeployableTargetWithRBAC` (#305)
  .changeset/spicy-monkeys-tease.md
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK, changeset

chore: add changeset
  .changeset/shiny-pandas-rush.md
Labels: changeset

test: add tests for event action step block number validation
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

fix: allow valid `notBeforeBlockNumber` to continue validation
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[ADHOC] Fix block number validation (#304)
  .changeset/shiny-pandas-rush.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

Version Packages (#296)
  .changeset/quick-berries-decide.md
  .changeset/shiny-pandas-rush.md
  .changeset/short-spies-kiss.md
  .changeset/spicy-monkeys-tease.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
