Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

chore: generate changeset
  .changeset/tame-bikes-run.md
Labels: changeset

feat(EventAction): add signature padding to actionClaimant
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor: reinstate typeguard for EventActionPayloadSimple
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[ADHOC] fix: prevent transfer abi mutation (#372)
  .changeset/smart-falcons-joke.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

[BOOST-5213] [SDK] allow for 4byte signatures without padding (#375)
  .changeset/proud-pianos-pretend.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

style(EventAction.ts): update comments for clarity
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[BOOST-5243] [SDK] derive signatureType from selector in eventAction (#376)
  .changeset/tame-bikes-run.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat: add normalization for hex value padding in actions
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat: add helper function to prepare action steps
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/selfish-moons-lay.md
Labels: changeset

chore: regen changeset
  .changeset/few-grapes-hug.md
Labels: changeset

feat(evm): add approves into topupIncentiveFromBudget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): topup functionality on incentives contracts
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/IToppable.sol
Labels: EVM

fix(evm): modify topupIncentiveFromBudget to pipe accounting correctly
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add topups from budgets to boost core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat(evm): incentives can be toped up without a budget
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Labels: EVM

wip: add integration tests for budget topups
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(sdk): account for fee as an additional amount instead of a discounted amount
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): enable topup fuzz testing
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): add topup function to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Labels: EVM

fix(evm): correct total amount handling and encoing
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

fix(evm): utilize the same compiler configs as foundry
  packages/evm/hardhat_build.config.cjs
Labels: EVM

test(evm): uncomment the assertion in the topup fuzz test
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): implement Topup events in core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

[BOOST-5212] [sdk] normalize UNIT hex to intended value (#378)
  .changeset/few-grapes-hug.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat(evm): only trigger dust hatch if there is a value amount
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(sdk): add INT to primitive types for Event Action
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(sdk): update event subscribe to expect the incentive events
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

feat(evm): add INT to primitive types
  packages/evm/contracts/actions/AEventAction.sol
Labels: EVM

feat(evm): incentives can be added to existing boosts
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): adding incentives to existing boosts
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

feat(evm): implement managed budget V2
  packages/evm/contracts/budgets/AManagedBudgetWithFeesV2.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Labels: EVM

feat(evm): tweak topup accounting in topupIncentiveFromSender
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(sdk): add topup payload helpers to incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK

fix(sdk): typo in getTopupPayload call
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat(sdk): add topup helpers to core
  packages/sdk/src/BoostCore.ts
Labels: SDK
