Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

[ADHOC] Celo (#493)
  .changeset/mighty-cows-develop.md
  packages/evm/broadcast/Deploy.s.sol/42220/run-1760471202157.json
  packages/evm/broadcast/Deploy.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-1760472249803.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-latest.json
  packages/evm/deploys/42220.json
Labels: EVM, changeset

Version Packages (canary) (#494)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

feat: allow wildcard claimant targetContract
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat: allow wildcard claimant targetContract for functions
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[ADHOC] allow wildcard claimant targetContract (#497)
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: add changeset for SDK version bump
  .changeset/silent-lobsters-relax.md
Labels: changeset

[ADHOC] add changeset for SDK version bump (#498)
  .changeset/silent-lobsters-relax.md
Labels: changeset

chore: exit canary pre-release mode
  .changeset/beige-radios-cry.md
  .changeset/early-keys-sort.md
  .changeset/loud-spies-nail.md
  .changeset/mighty-cows-develop.md
  .changeset/modern-moose-cough.md
  .changeset/ninety-carpets-end.md
  .changeset/odd-cobras-yawn.md
  .changeset/pre.json
  .changeset/silent-lobsters-relax.md
  .changeset/slow-rivers-peel.md
  .changeset/spotty-doors-own.md
  .changeset/stale-nails-prove.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

[ADHOC] exit canary pre-release mode (#500)
  .changeset/beige-radios-cry.md
  .changeset/early-keys-sort.md
  .changeset/loud-spies-nail.md
  .changeset/mighty-cows-develop.md
  .changeset/modern-moose-cough.md
  .changeset/ninety-carpets-end.md
  .changeset/odd-cobras-yawn.md
  .changeset/pre.json
  .changeset/silent-lobsters-relax.md
  .changeset/slow-rivers-peel.md
  .changeset/spotty-doors-own.md
  .changeset/stale-nails-prove.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

chore(evm): script to deploy factory
  packages/evm/script/solidity/Deploy_ManagedBudgetWithFeesV2Factory.s.sol
Labels: EVM

feat(evm): create factory
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
Labels: EVM

chore(evm): upgrade eth sepolia budgets
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1764627631905.json
  packages/evm/deploys/11155111.json
Labels: EVM

test(evm): add test for managed budget factory
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM

test(evm): update role
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM

fix(evm): initalize owner with param
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/script/solidity/Deploy_ManagedBudgetWithFeesV2Factory.s.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM

chore(evm): emit nonce and enforce owner deployer
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM

feat(evm): implement nonce tracking and remove owner and nonce params for budget deployments
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM

chore(evm): deploy factory to testnets
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764631708977.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764710501741.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764881757386.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764631820251.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764710585822.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764881895798.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Labels: EVM

test(evm): add tests for setImplementation
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM

chore(evm); deploy mainnets
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-1765173815873.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-1765173969398.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-1765173926378.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-1765173856443.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/42220.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: add changeset
  .changeset/tender-candles-jump.md
Labels: changeset

[ADHOC] Cross Chain Budget Accounts (#496)
  .changeset/tender-candles-jump.md
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-1765173815873.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764631708977.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764710501741.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764881757386.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-1765173969398.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-1765173926378.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-1765173856443.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764631820251.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764710585822.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764881895798.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1764627631905.json
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/deploys/10.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/42220.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_ManagedBudgetWithFeesV2Factory.s.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Labels: EVM, changeset

Version Packages (#501)
  .changeset/tender-candles-jump.md
  packages/evm/CHANGELOG.md
  packages/evm/package.json
Labels: EVM, changeset

style(biome.json): remove unused warning rule
  biome.json
Labels: none

feat(EventAction): mark third input as indexed for NFT transfer
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/nine-seas-crash.md
Labels: changeset

feat(EventAction): clone event before modifying inputs
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[ADHOC] fix nft transfer abi bug (#502)
  .changeset/nine-seas-crash.md
  biome.json
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

[ADHOC] chore: version packages (#503)
  .changeset/nine-seas-crash.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

build: update viem package to version 2.41.2
  package.json
  pnpm-lock.yaml
Labels: none

fix(EventAction): update log argument decoding process
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test: add test for TransferReference event handling
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

chore: generate changeset
  .changeset/eighty-ears-approve.md
Labels: changeset

docs: Add JSDoc comments for decodeAndReorderLogArgs function
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(EventAction): handle missing topics in log decoding
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[ADHOC] fix reordering bug (#504)
  .changeset/eighty-ears-approve.md
  package.json
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
Labels: SDK, changeset

Version Packages (#505)
  .changeset/eighty-ears-approve.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

test: add tests for grouped action step validation
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat(EventAction): add event-based action step grouping logic
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/three-swans-prove.md
Labels: changeset
