Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

chore: format
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor(EventAction): simplify packCriteriaFieldIndexes function
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test: simplify index packing test cases
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

refactor: simplify unpackCriteriaFieldIndexes function
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test: update error messages in EventAction tests
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

test(EventAction): add upper bound check for packed indices
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

chore: generate changeset
  .changeset/red-beds-repair.md
Labels: changeset

test: update index range checks in criteria tests
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

feat: update valid ranges for tuple index
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(EventAction): update index range in error message test
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

test(EventAction): update upper limit in criteria test
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

docs(EventAction): update parameter description in unpackCriteriaFieldIndexes
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

docs(EventAction): update index range in documentation comment
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

docs(EventAction): update documentation for packFieldIndexes
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

[BOOST-5496] incentive criteria tuple support (#447)
  .changeset/red-beds-repair.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK, changeset

Version Packages (#446)
  .changeset/fifty-cougars-melt.md
  .changeset/red-beds-repair.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

feat(EventAction): add log validation methods for actions
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/little-goats-vanish.md
Labels: changeset

refactor(EventAction): update validation return structure
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor(EventAction): rename methods for clarity and consistency
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

docs(EventAction): update comment for log matching function
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(Incentive): fix variable criteria incentive type detection
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

test(incentive): add tests for incentiveFromAddress
  packages/sdk/src/Incentives/Incentive.test.ts
Labels: SDK

chore: generate changeset
  .changeset/odd-pumpkins-notice.md
Labels: changeset

chore: format
  packages/sdk/src/Incentives/Incentive.test.ts
Labels: SDK

test: add tests for deploying with 4-byte selector in criteria
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
Labels: SDK

refactor: pad signature in variable criteria incentives
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

chore: generate changeset
  .changeset/chilly-buses-itch.md
Labels: changeset

[BOOST-5513] use actionSteps logs to determine claimant (#448)
  .changeset/little-goats-vanish.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat: add logs parameter to getIncentiveScalar method
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

chore: generate changeset
  .changeset/giant-timers-beam.md
Labels: changeset

feat(getIncentiveScalar): add log processing for scalar value
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
Labels: SDK

feat: use decodeAndReorderLogArgs method to decode logs
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

refactor(Incentive): reorder incentive entries for clarity
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

refactor: use exisitng logic after checking logs
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

[BOOST-5515] update getincentivescalar to accept logs (#452)
  .changeset/giant-timers-beam.md
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK, changeset

build: update hardhat version to 2.24.0 in package.json
  package.json
  pnpm-lock.yaml
Labels: none

[ADHOC] update hardhat version to 2.24.0 (#453)
  package.json
  pnpm-lock.yaml
Labels: none

Version Packages (#451)
  .changeset/giant-timers-beam.md
  .changeset/little-goats-vanish.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

docs: add wallet provider integration guide
  WALLET_PROVIDER_INTEGRATION.md
Labels: none
