Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore: fix test helpers
  test/src/helpers.ts
Labels: none

chore: fix build v2
  packages/cli/src/commands/deploy.ts
  packages/sdk/.env.sample
Labels: SDK

[ADHOC] feat(evm,sdk): BREAKING erc20variablecriteria v2 upgrade (#425)
  .changeset/pre.json
  .changeset/warm-rivers-act.md
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/README.md
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentiveV2.sol
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/sdk/.env.sample
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

chore: try to fix tests
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  test/src/helpers.ts
Labels: SDK, EVM

chore: TWEAK CONTRACTS TO DEBUG REVERT THIS
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/sdk/package.json
Labels: SDK, EVM

chore: formatting
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
Labels: EVM

chore: fix tests
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
Labels: SDK, EVM

fix: formatting
  packages/evm/contracts/budgets/TransparentBudget.sol
Labels: EVM

fix: build
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Budgets/Budget.ts
  test/src/helpers.ts
Labels: SDK, EVM

fix: build
  packages/evm/script/solidity/ComponentInterface.s.sol
  test/src/helpers.ts
Labels: EVM

fix: build
  packages/cli/src/commands/seed.ts
Labels: none

[BOOST-5262] feat(sdk): TransparentBudget implementation (#421)
  .changeset/fifty-hotels-rhyme.md
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

Version Packages (canary) (#422)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

chore(evm,sdk): re-add v1 incentive criteria
  .changeset/cool-spiders-notice.md
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/package.json
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Labels: SDK, EVM, changeset

fix: tests
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
Labels: SDK, EVM

fix: tests again
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
Labels: SDK

[ADHOC] chore(evm,sdk): re-add v1 incentive criteria (#426)
  .changeset/cool-spiders-notice.md
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/package.json
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Labels: SDK, EVM, changeset

[ADHOC] chore: version packages (canary) (#427)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

chore: re-add `ERC20VariableCriteriaIncentive` and `ERC20PeggedVariableCriteriaIncentive` deployments
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: deploy on sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742318991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742319884.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: deploy on base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: deploy on base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: add changeset
  .changeset/orange-seahorses-chew.md
Labels: changeset

[ADHOC] Module Deployments (#428)
  .changeset/orange-seahorses-chew.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742318991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742319884.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM, changeset

chore: add sdk changeset
  .changeset/strong-masks-smell.md
Labels: changeset

[ADHOC] chore: add sdk changeset (#430)
  .changeset/strong-masks-smell.md
Labels: changeset

Version Packages (canary) (#429)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

feat(evm): deploy contracts on optimism
  packages/evm/broadcast/Deploy.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-latest.json
  packages/evm/deploys/10.json
Labels: EVM

chore: add changeset
  .changeset/wicked-grapes-float.md
Labels: changeset

[ADHOC] Optimism (#431)
  .changeset/wicked-grapes-float.md
  packages/evm/broadcast/Deploy.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-latest.json
  packages/evm/deploys/10.json
Labels: EVM, changeset

Version Packages (canary) (#432)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

chore: exit prerelease
  .changeset/pre.json
Labels: none

Version Packages (#433)
  .changeset/clean-parents-laugh.md
  .changeset/cool-spiders-notice.md
  .changeset/fifty-hotels-rhyme.md
  .changeset/green-clouds-fly.md
  .changeset/orange-seahorses-chew.md
  .changeset/pre.json
  .changeset/silver-schools-worry.md
  .changeset/strong-masks-smell.md
  .changeset/warm-rivers-act.md
  .changeset/wicked-grapes-float.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

feat(sdk): expose BoostCore.prepareCreateBoostPayload
  .changeset/wise-mangos-compete.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

Version Packages (#439)
  .changeset/wise-mangos-compete.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

test(criteria field index functions): add tests for criteria packing
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

fix(EventAction): return first matching addressCandidate
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/fifty-cougars-melt.md
Labels: changeset

[ADHOC]: return first matching addressCandidate (#445)
  .changeset/fifty-cougars-melt.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

feat: add function to extract scalar values from tuples
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
