Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, examples, documentation

updates
  packages/sdk/test/uniswap-fork-swap.test.ts
Labels: SDK

feat: clone examples for swap test
  examples/swap-specific-dex/.env.sample
  examples/swap-specific-dex/hardhat.config.cjs
  examples/swap-specific-dex/package.json
  examples/swap-specific-dex/tsconfig.json
  examples/swap-specific-dex/vitest.config.ts
Labels: examples

feat(signatures): add SwappedV3 event signature
  packages/signatures/manifests/events.json
Labels: none

refactor(tests): rename and update swap-specific-dex test
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  test/src/swap-specific-dex.test.ts
Labels: examples

feat(test): add arbitrum chain to test configuration
  test/src/viem.ts
Labels: none

build: update pnpm-lock.yaml with new dependencies
  pnpm-lock.yaml
Labels: none

chore: generate changeset
  .changeset/red-kiwis-hope.md
Labels: none

feat(sdk,allowlists): add owner method to both allow and denylists
  .changeset/lovely-tigers-accept.md
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
Labels: SDK

chore(evm): improve turbo build caching
  .gitignore
  packages/evm/.gitignore
Labels: EVM

refactor(evm,sdk,budget,allowlist): use common rbac contract for auth
  packages/evm/contracts/allowlists/AAllowList.sol
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/allowlists/SimpleDenyList.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/package.json
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/index.ts
Labels: SDK, EVM

fix(sdk): fix uint field value uint comparison and cover all cases
  packages/sdk/package.json
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
Labels: SDK

chore(sdk): stop ignore dist in IDE tsconfig.json
  packages/sdk/tsconfig.json
Labels: SDK

fix(sdk,managedbudget): remove extra auth methods, now in rbac
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/allowlists/AAllowList.sol
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/src/Budgets/ManagedBudget.ts
Labels: SDK, EVM

chore(sdk): stop ignore dist in IDE tsconfig.json
  packages/sdk/tsconfig.json
Labels: SDK

fix(sdk): fix uint field value uint comparison and cover all cases
  packages/sdk/package.json
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
Labels: SDK

feat: make validator optional in CreateBoostPayload
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: simplify hardhat config
  packages/sdk/hardhat.config.cjs
Labels: SDK

chore: update hardhat config file for ens test
  examples/ens-register/hardhat.config.cjs
Labels: examples

chore: update hardhat config in sdk so tests work
  packages/sdk/hardhat.config.cjs
Labels: SDK

Revert "chore: update hardhat config in sdk so tests work"
  packages/sdk/hardhat.config.cjs
Labels: SDK

test(boostcore): add tests for boost with default validator
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

feat(boostcore): allow custom parameters in validator
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore(feedback,evm): remove simplebudget, allow managers to setallowed/denied
  README.md
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/sdk/.env.sample
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/index.test.ts
Labels: SDK, EVM

chore(changeset): add changeset
  .changeset/stupid-donuts-bathe.md
Labels: none

fix(sdk,SignerValidator): fix default test config
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

chore: remove console logs from helpers.ts
  test/src/helpers.ts
Labels: none

chore: generate changeset
  .changeset/purple-islands-cheer.md
Labels: none

fix(evm): check claims against allowlist in BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

fix(zora): ensure imposter is on allowlist
  examples/zora-mint/src/zora-mint.test.ts
Labels: examples

fix(evm): check claims against allowlist in BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

fix(zora): ensure imposter is on allowlist
  examples/zora-mint/src/zora-mint.test.ts
Labels: examples

.github/labeler.yml:

"SDK":
  - "packages/sdk/**/*"
"EVM":
  - "packages/evm/**/*"
"examples":
  - "examples/**/*"
"documentation":
  - "docs/**/*"
