Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

fix(evm): utilize consistent manager paradigm for incentives
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

test(sdk): add manager to incentive init params
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

chore(sdk): remove failing test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore(sdk): re-add test that should pass now
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore: add changeset
  .changeset/strange-parents-lay.md
Labels: changeset

test(sdk): Pegged Variable Criteria Incentive
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Labels: SDK

refactor(Incentives): rename methods for clarity and consistency
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat: add getIncentiveScalar method to Erc20PeggedVariableCriteriaIncentive class
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

refactor: correct interface name and update comments
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

chore: generate changeset
  .changeset/five-chicken-float.md
Labels: changeset

fix(sdk): capitilization issue
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

fix(evm): tweak deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat: add criteria to incentive payload interface
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat(evm): Pegged Variable Criteria Incentive
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

feat(Incentives): add peg method for peggedVariableCriteriaIncenitve
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat(evm): Pegged Variable Criteria Incentive scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

test(evm): Pegged Variable Criteria Incentive
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
Labels: EVM

feat(helpers): add ERC20PeggedVariableCriteriaIncentive support
  test/src/helpers.ts
Labels: none

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore: format
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

refactor(Incentive): update incentive type mapping key
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

feat(evm): add criteria to ERC20PeggedIncentive
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

fix: rearrange params
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, EVM

feat: add criteria parameter to incentive payload function
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

test: add basic and owner-related tests for ERC20 incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

test: Remove unused function and update test values
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore(sdk): remove failing test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

feat: add criteria parameter to incentive payload function
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK

feat(evm): add criteria to ERC20PeggedIncentive
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

chore: format
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Labels: EVM

test: Remove unused function and update test values
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

test: add basic and owner-related tests for ERC20 incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

chore(sdk): remove failing test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Labels: SDK

refactor(Incentive): update incentive type mapping key
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

fix: rearrange params
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, EVM

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

feat(helpers): add ERC20PeggedVariableCriteriaIncentive support
  test/src/helpers.ts
Labels: none

fix(evm): utilize consistent manager paradigm for incentives
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
