Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

chore(evm): forge fmt
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

test(sdk): fix boostcore test
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

chore(evm): forge fmt
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

test(sdk): fix boostcore test
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

feat(evm): implement `claimFromIncentive`
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

fix(evm): utilize RBAC on Incentives with clawback impls
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

fix(sdk): downstream tests from Incentive RBAC impl
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.test.ts
Labels: SDK, examples

feat(sdk): merge knownsignatures with our registry
  packages/sdk/src/Actions/EventAction.ts
  packages/signatures/manifests/functions.json
Labels: SDK, signatures

feat(sdk,signatures): merge known signatures with signatures in eventaction, add mint
  .changeset/nasty-windows-mate.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

[ADHOC] feat(sdk): merge knownsignatures with our registry (#202)
  .changeset/nasty-windows-mate.md
  packages/sdk/src/Actions/EventAction.ts
  packages/signatures/manifests/functions.json
Labels: SDK, signatures, changeset

refactor: change boostIndex to boostId
  packages/evm/contracts/BoostCore.sol
  packages/sdk/src/BoostCore.ts
Labels: SDK, EVM

fix(evm): fix clawback calculations in erc1155 fixes #471
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

fix(evm): address audit issue 485
  packages/evm/contracts/incentives/CGDAIncentive.sol
Labels: EVM

fix(evm): remove redundant init owner call
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

fix(evm): correct limit/claims handling
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

fix: address audit issue 486
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

fix(evm): resolve audit issue number 477
  packages/evm/contracts/BoostCore.sol
Labels: EVM

chore(evm): lint fixes
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(evm): use abstract registry for enums
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(evm): address audit issue 485
  packages/evm/contracts/incentives/CGDAIncentive.sol
Labels: EVM

fix: address audit issue 486
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

fix(evm): correct limit/claims handling
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

chore(evm): lint fixes
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(evm): remove redundant init owner call
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

fix(evm): use abstract registry for enums
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(evm): resolve audit issue number 477
  packages/evm/contracts/BoostCore.sol
Labels: EVM

refactor: change boostIndex to boostId
  packages/evm/contracts/BoostCore.sol
  packages/sdk/src/BoostCore.ts
Labels: SDK, EVM

fix(evm): fix clawback calculations in erc1155 fixes #471
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Labels: EVM

feat(evm): add protocol fee handling in make incentives calls
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): fix fee handling in tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

feat: remove all referral fee references
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Labels: SDK, EVM, examples

feat(evm): remove unused fee state
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add clawback to BoostCore
  packages/evm/contracts/BoostCore.sol
Labels: EVM

fix(evm): change the clawback code call in core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add incentive information in the _makeIncentives call
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): pay out protocol fees on claim
  packages/evm/contracts/BoostCore.sol
Labels: EVM

test(evm): clawback with 0 amount
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): add fuzz tests for clawbacks
  packages/evm/test/BoostCore.t.sol
Labels: EVM

feat(evm): switch clawbackFromTarget in ABudget
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

feat(evm): add fee balance tracking to BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostError.sol
Labels: EVM
