Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

chore(sdk): move custom errors and add comments
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/errors.ts
Labels: SDK

Create witty-jokes-accept.md
  .changeset/witty-jokes-accept.md
Labels: changeset

feat(sdk): add method to BoostCore
  .changeset/plenty-ligers-notice.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

refactor(sdk): move tx lookup order in getIncentiveScalar
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

test(sdk): variable criteria incentives test
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/signatures/manifests/functions.json
Labels: SDK, signatures

feat(evm): implement Variable Incentive Criteria
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
Labels: EVM

feat(sdk): add ts helper file for Variable Criteria Incetive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

refactor(sdk): prefer wagmi utils vs viem
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

feat(sdk): add variable crtieria incentive plumbing
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK

feat(sdk): add ERC20VariableCriteriaIncentive to Inentive helper file
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

chore(sdk): move custom errors and add comments
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/errors.ts
Labels: SDK

feat(evm): add variable criteria incentive to deploy modules
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: deploy
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426652.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426757.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426769.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426947.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728427070.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1728427352.json
  packages/evm/deploys/11155111.json
Labels: EVM

fix(evm): make initialize virtual
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Labels: EVM

feat(sdk): add variable criteria incentive to CLI deplo
  packages/cli/src/commands/deploy.ts
Labels: none

Create witty-jokes-accept.md
  .changeset/witty-jokes-accept.md
Labels: changeset

refactor(sdk): change inheritance for Variable Critiria Incentive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

test(evm): test variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

test(sdk): fix getClaimFromTransaction test
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

[BOOST-4786] feat(sdk): add `getClaimFromTransaction` method to BoostCore (#190)
  .changeset/plenty-ligers-notice.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

ci: tryfix changesets
  package.json
  pnpm-workspace.yaml
Labels: none

feat(evm): implement erc165 for BoostRegistry
  packages/evm/contracts/ABoostRegistry.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

fix(sdk): re-add boostRegistryAbi, add test for all public exports
  .changeset/quiet-lies-lick.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/index.test.ts
Labels: SDK, changeset

[ADHOC] chore: version packages (alpha) (#195)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  test/CHANGELOG.md
  test/package.json
Labels: SDK, examples

feat(sdk,EventAction): add deriveActionClaimantFromTransaction method, refactor ValidateActionStepParams slightly
  .changeset/calm-moles-fry.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.test.ts
Labels: SDK, changeset

fix(examples): add private:true to package json to prevent publishing
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
Labels: examples

[BOOST-4786] feat(sdk,EventAction): add deriveActionClaimantFromTransaction method (#194)
  .changeset/calm-moles-fry.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.test.ts
Labels: SDK, changeset

Version Packages (alpha) (#196)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  test/CHANGELOG.md
  test/package.json
Labels: SDK, examples

fix(sdk,BoostCore): fix overlooked assert by chain id in readBoost
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat(sdk,BoostCore): add BoostNotFoundError to read/get Boost for friendlier message
  .changeset/perfect-flies-rest.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/errors.ts
  turbo.json
Labels: SDK, changeset

feat(sdk,BoostCore): allow numerical strings for id arg in readBoost
  .changeset/moody-horses-own.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

fix(sdk): fix syntax error in readBoost
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore(sdk): fix typedoc interface names
  packages/sdk/src/Boost.ts
Labels: SDK

[BOOST-4735] feat(evm): implement erc165 for BoostRegistry (#183)
  packages/evm/contracts/ABoostRegistry.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

feat(evm): implement OpenAllowList predeploy
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

fix(sdk,BoostRegistry): fix getClone method, now returns Clone
  .changeset/young-experts-reply.md
  packages/sdk/src/BoostRegistry.test.ts
  packages/sdk/src/BoostRegistry.ts
Labels: SDK, changeset

[BOOST-4777] feat(evm): implement OpenAllowList predeploy (#201)
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

fix(evm): utilize RBAC on Incentives with clawback impls
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

feat(evm): implement `claimFromIncentive`
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Labels: EVM

fix(sdk): downstream tests from Incentive RBAC impl
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.test.ts
Labels: SDK, examples

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
