Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

feat(evm): add events to modules
  packages/evm/contracts/actions/EventAction.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/validators/SignerValidator.sol
Labels: EVM

feat(evm): pegged incentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Labels: EVM

feat(evm): pegged incentive deploy
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

test(evm): pegged incentive
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Labels: EVM

feat(sdk): pegged incentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

chore(evm): fix limit comment in AERC20PeggedIncentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
Labels: EVM

chore(evm): remove LibPRNG
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Labels: EVM

feat(sdk): add ERC20PeggedIncentive to main Incentive
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Labels: SDK

chore(sdk): add pegged incentive to BoostCore
  packages/sdk/src/BoostCore.ts
Labels: SDK

test(evm): pegged incentive
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Labels: EVM

feat(evm): pegged incentive deploy
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat(sdk): pegged incentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

feat(sdk): add ERC20PeggedIncentive to main Incentive
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Labels: SDK

chore(evm): fix limit comment in AERC20PeggedIncentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
Labels: EVM

feat(evm): pegged incentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Labels: EVM

chore(sdk): add pegged incentive to BoostCore
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore(evm): remove LibPRNG
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Labels: EVM

feat(evm): add events to modules
  packages/evm/contracts/actions/EventAction.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/validators/SignerValidator.sol
Labels: EVM

chore: add changeset
  .changeset/brave-poems-wait.md
Labels: changeset

fix: add ERC20PeggedIncentive to script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore: update comments
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

chore: deploy to sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Labels: EVM

fix: add peg read function
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

[ADHOC] Minor Updates for ERC20PeggedIncentive (#308)
  .changeset/brave-poems-wait.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, EVM, changeset

Version Packages (#309)
  .changeset/brave-poems-wait.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

feat(evm): add fee module to core and pass value to validators
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
Labels: EVM

fix(evm): fix the protocol fee save points in core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

refactor(evm): create boost payload struct moved to lib
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

test(evm): test protocol module in core
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): ad bad protocol module tests
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): add protocol module mocks
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/shared/Mocks.t.sol
Labels: EVM

test(evm): add bad module mocks for protocol fee
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): test protocol module in core
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(evm): fix the protocol fee save points in core
  packages/evm/contracts/BoostCore.sol
Labels: EVM

feat(evm): add fee module to core and pass value to validators
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
Labels: EVM

test(evm): add protocol module mocks
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/shared/Mocks.t.sol
Labels: EVM

refactor(evm): create boost payload struct moved to lib
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

test(evm): ad bad protocol module tests
  packages/evm/test/BoostCore.t.sol
Labels: EVM

test(evm): add bad module mocks for protocol fee
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

fix(signatures): correct Transfer event signature format
  packages/signatures/manifests/events.json
Labels: signatures

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
