Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

test: Add ValueType to ERC20 incentive tests
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

test: add ValueType.WAD to various criteria tests
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Labels: SDK

chore: generate changeset
  .changeset/green-clouds-fly.md
Labels: changeset

docs: update comment for valueType
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

docs: update jsdoc for valueType
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat(sdk): transparent budget implementation
  .changeset/fifty-hotels-rhyme.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, changeset

docs: update docs link
  packages/sdk/README.md
Labels: SDK

feat(cli): add valueType to IncentiveCriteriaSchema
  packages/cli/src/commands/seed.ts
Labels: none

chore: update dependencies in changeset file
  .changeset/green-clouds-fly.md
Labels: changeset

[BOOST-5352] add valueType to incentiveCriteria Struct (#420)
  .changeset/green-clouds-fly.md
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK, EVM, changeset

[BOOST-5261] feat(evm): add authorized clawbacks from incentives to TransparentBudget (#391)
  .github/workflows/verify.yml
  packages/evm/.env.example
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/IPermit2.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Labels: EVM

chore(evm): deploy new bases to eth sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1741377241.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore(evm): add TransparentBudget to deploy modules script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

chore(evm): deploy TransparentBudget to eth sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1741377421.json
  packages/evm/deploys/11155111.json
Labels: EVM

chore: add tsdocs
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
Labels: SDK

chore(evm): deploy new bases to base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1741377560.json
  packages/evm/deploys/84532.json
Labels: EVM

chore: add changeset
  .changeset/silver-schools-worry.md
Labels: changeset

[ADHOC] New Testnet Bases (#423)
  .changeset/silver-schools-worry.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1741377241.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1741377421.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1741377560.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM, changeset

Revert "[BOOST-5352] add valueType to incentiveCriteria Struct (#420)"
  .changeset/green-clouds-fly.md
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK, EVM, changeset

feat: add ERC20PeggedVariableCriteriaIncentiveV2 contract
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentiveV2.sol
Labels: EVM

feat: add ERC20 variable criteria incentive contracts
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentiveV2.sol
Labels: EVM

test: add tests for ERC20Pegged and Variable Criteria V2 Incentives
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
Labels: EVM

chore: format
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
Labels: EVM

feat: add ERC20Variable and ERC20Pegged incentives V2 constructors
  packages/sdk/src/BoostCore.ts
Labels: SDK

feat: add valueType enum to EventAction.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat: add ERC20PeggedVariableCriteriaIncentiveV2
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
Labels: SDK

feat: add ERC20VariableCriteriaIncentiveV2
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Labels: SDK

feat: add new V2 incentive types to Incentive.ts
  packages/sdk/src/Incentives/Incentive.ts
Labels: SDK

docs: mark classes as deprecated in documentation
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK

chore(evm): deploy new bases to base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: add changeset
  .changeset/brave-rats-study.md
Labels: changeset

feat(evm,sdk): BREAKING erc20variablecriteria v2 upgrade
  .changeset/large-spoons-kiss.md
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/README.md
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentiveV2.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

feat(evm,sdk): BREAKING erc20variablecriteria v2 upgrade
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentiveV2.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
Labels: EVM

chore: enter canary
  .changeset/pre.json
Labels: none

chore: enter prerelease
  .changeset/large-spoons-kiss.md
  .changeset/warm-rivers-act.md
Labels: changeset

chore: fix sdk helpers typo
  test/src/helpers.ts
Labels: none

chore(evm): deploy to sepolia
  packages/evm/deploys/11155111.json
Labels: EVM

chore(evm): deploy to base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

chore(evm): deploy new bases to base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Labels: EVM

chore: fix build
  packages/sdk/src/BoostCore.ts
Labels: SDK

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"
