Repository boostxyz/boost-protocol, changes with the labels that .github/labeler.yml gives for each.
All labels: SDK, EVM, signatures, examples, changeset

.github/labeler.yml:

"SDK":
  - changed-files:
      - any-glob-to-any-file: "packages/sdk/**"
"EVM":
  - changed-files:
      - any-glob-to-any-file: "packages/evm/**"
"signatures":
  - changed-files:
      - any-glob-to-any-file: "packages/signatures/**"
"examples":
  - changed-files:
      - any-glob-to-any-file: "examples/**"
"changeset":
  - changed-files:
      - any-glob-to-any-file: ".changeset/*.md"

test: add test for incentive fees information retrieval
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

chore: generate changeset
  .changeset/mighty-snakes-leave.md
Labels: changeset

refactor: remove unused AssetType enum from BoostCore
  packages/sdk/src/BoostCore.ts
Labels: SDK

test: add asset type check in BoostCore tests
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

build: deploy sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1736015138.json
  packages/evm/deploys/11155111.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

feat(EventAction): reorder indexed parameters in ABI inputs
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: generate changeset
  .changeset/bright-kids-pay.md
Labels: changeset

[BOOST-5140] add `getIncentiveFeesInfo` sdk method to boostcore (#355)
  .changeset/mighty-snakes-leave.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

feat: add `createBoostRaw` function
  packages/sdk/src/BoostCore.ts
Labels: SDK

chore: add changeset
  .changeset/wild-rings-itch.md
Labels: changeset

test: add test for `createBoostRaw`
  packages/sdk/src/BoostCore.test.ts
Labels: SDK

[ADHOC] Add createBoostRaw function (#356)
  .changeset/wild-rings-itch.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

chore: remove tuple changeset
  .changeset/itchy-news-exercise.md
Labels: changeset

feat(EventAction): re-order event params based on abi
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test: add decodeAndReorderLogArgs unit test
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

test(EventAction): remove unnecessary line in test file
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

test(EventAction): add test for reorder log arguments
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

test(EventAction): add test for correctly ordered event params
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

chore: format
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

test(EventAction): add test for non-indexed event params
  packages/sdk/src/Actions/EventAction.test.ts
Labels: SDK

docs: update changelog for event args reordering
  .changeset/bright-kids-pay.md
Labels: changeset

refactor(EventAction): simplify log args reordering logic
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

refactor(EventAction): simplify log args return structure
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

docs(EventAction): update return type in JSDoc comment
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

feat: add EventLog type for single event log handling
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

chore: add `decodeClaimData` to ERC20PeggedIncentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

chore: add changeset
  .changeset/silly-carpets-jog.md
Labels: changeset

feat: deploy base-sepolia eventaction module
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Labels: EVM

feat: deploy EventAction module base mainnet
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1736392101.json
  packages/evm/deploys/8453.json
Labels: EVM

feat: add broadcast log for EventAction deployment on base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1736390232.json
Labels: EVM

[BOOST-5108] fix order of indexed params in events to match abi (#358)
  .changeset/bright-kids-pay.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

chore: generate changeset
  .changeset/empty-monkeys-decide.md
Labels: changeset

refactor: remove postfix from EventAction registration string
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

[ADHOC] Add decodeClaimData to ERC20PeggedIncentive (#359)
  .changeset/silly-carpets-jog.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, changeset

fix(ERC20PeggedIncentive): update getRemainingClaimPotential to use totalClaimed instead of claims
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK

chore: generate changeset
  .changeset/clean-items-pay.md
Labels: changeset

feat(evm): add incentive we can top up
  packages/evm/contracts/incentives/ERC20TopupIncentive.sol
Labels: EVM

test(evm): top up tests - includes fuzz test for multi-topups
  packages/evm/test/incentives/ERC20TopupIncentive.t.sol
Labels: EVM

[BOOST-5185] fix `getRemainingClaimPotential` on ERC20Pegged (#361)
  .changeset/clean-items-pay.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, changeset

feat(evm): topup functionality on incentives contracts
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/IToppable.sol
Labels: EVM
