Repository boostxyz/boost-protocol, pull requests merged in 2024-11, with the labels that each got.

#257 [BOOST-4904] deprecate managedbudgetroles enum for roles
  .changeset/lazy-cows-sip.md
  packages/sdk/src/Budgets/ManagedBudget.ts
  test/src/helpers.ts
Labels: SDK, changeset

#259 [ADHOC] chore(sdk): remove evm as optional dep
  .changeset/fair-baboons-sin.md
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Labels: SDK, changeset

#250 [ADHOC][DONT MIND ME] chore: general cleanup i'm adding to gradually
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
Labels: SDK

#262 [ADHOC] fix(zora-mint): hh block config
  examples/zora-mint/hardhat.config.cjs
Labels: examples

#260 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#263 [ADHOC] fix(evm): update claims on claim
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Labels: EVM

#266 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
Labels: EVM

#264 [ADHOC] feat(sdk): clawbackFromTarget API for ManagedBudget
  .changeset/fair-ravens-share.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/errors.ts
  test/src/MockERC20.ts
Labels: SDK, EVM, changeset

#269 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#271 [ADHOC] refactor(sdk): use SimulateContractParameters instead of WriteContractParameters
  .changeset/real-boxes-jump.md
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Auth/PassthroughAuth.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  test/src/MockERC1155.ts
  test/src/MockERC20.ts
  test/src/MockERC721.ts
  test/src/MockPoints.ts
Labels: SDK, changeset

#273 [ADHOC] feat(sdk): add api to calculate protocol fees
  .changeset/afraid-papayas-kiss.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/utils.ts
Labels: SDK, changeset

#272 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#274 [ADHOC] chore: version packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#277 [ADHOC] feat(cli): allow Validator to be optional in seed
  .changeset/real-suns-explode.md
  packages/cli/src/commands/seed.ts
Labels: changeset

#281 [ADHOC] add changeset for #280
  .changeset/gold-ladybugs-relate.md
Labels: changeset

#279 Version Packages
  .changeset/gold-ladybugs-relate.md
  .changeset/real-suns-explode.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: changeset

#285 Version Packages
  .changeset/famous-chefs-brake.md
  .changeset/new-dodos-join.md
  .changeset/spotty-shirts-perform.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#290 Version Packages
  .changeset/real-geckos-tan.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#291 [ADHOC] fix: add owner param to BoostCore constructor
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Labels: EVM

#293 Version Packages
  .changeset/curvy-buckets-type.md
  .changeset/stupid-pans-travel.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#295 [BOOST-5051] fix issues with `core.getBoost`
  .changeset/short-spies-kiss.md
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Labels: SDK, changeset
