Repository boostxyz/boost-protocol, pull requests merged in 2024-10, with the labels that each got.

#142 [ADHOC] fix(signatures): pad function selectors to 32 bytes
  .changeset/red-stingrays-greet.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/signatures/build.js
Labels: SDK

#138 [BOOST-4785] Correctly masking leading bits for incentives in SignerValidator
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

#155 [ADHOC]: update ENS tests to use register function selector
  .changeset/fuzzy-walls-eat.md
  examples/ens-register/src/ens-register.test.ts
  examples/ens-register/vitest.config.ts
  packages/signatures/manifests/functions.json
  test/src/viem.ts
Labels: examples

#107 [BOOST-4687]: add viability tests for swapping on a specific dex
  .changeset/red-kiwis-hope.md
  examples/swap-specific-dex/.env.sample
  examples/swap-specific-dex/hardhat.config.cjs
  examples/swap-specific-dex/package.json
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/swap-specific-dex/tsconfig.json
  examples/swap-specific-dex/vitest.config.ts
  packages/sdk/hardhat.config.cjs
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
  pnpm-lock.yaml
  test/src/viem.ts
Labels: SDK, examples

#167 [ADHOC] chore: simplify hardhat config
  packages/sdk/hardhat.config.cjs
Labels: SDK

#169 [BOOST-4773] signer optionally default to boostcores address
  .changeset/purple-islands-cheer.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  test/src/helpers.ts
Labels: SDK

#168 [ADHOC] update hardhat config in ENS example
  examples/ens-register/hardhat.config.cjs
Labels: examples

#182 [ADHOC] chore(sdk): correct all typedoc return types
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
Labels: SDK

#160 [BOOST-4684] test: add agora vote example
  .changeset/fifty-frogs-repair.md
  examples/agora-vote/.env.sample
  examples/agora-vote/hardhat.config.cjs
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/tsconfig.json
  examples/agora-vote/vitest.config.ts
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
  pnpm-lock.yaml
  test/src/viem.ts
Labels: examples, changeset, signatures

#173 [BOOST-4797] feat(action-step): handle data fetching at action step level
  .changeset/nasty-planes-remain.md
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Labels: SDK, examples, changeset

#190 [BOOST-4786] feat(sdk): add `getClaimFromTransaction` method to BoostCore
  .changeset/plenty-ligers-notice.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

#195 [ADHOC] chore: version packages (alpha)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  test/CHANGELOG.md
  test/package.json
Labels: SDK, examples

#196 Version Packages (alpha)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  test/CHANGELOG.md
  test/package.json
Labels: SDK, examples

#201 [BOOST-4777] feat(evm): implement OpenAllowList predeploy
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Labels: EVM

#202 [ADHOC] feat(sdk): merge knownsignatures with our registry
  .changeset/nasty-windows-mate.md
  packages/sdk/src/Actions/EventAction.ts
  packages/signatures/manifests/functions.json
Labels: SDK, changeset, signatures

#205 chore(evm): move hardhat cache from `cache` to `cache_hh`
  .gitignore
  packages/evm/hardhat_build.config.cjs
Labels: EVM

#207 [adhoc] chore(evm): log deployer address during script execution
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Labels: EVM

#199 Version Packages (alpha)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
  test/CHANGELOG.md
  test/package.json
Labels: SDK, EVM, examples, signatures

#209 [BOOST-4831] feat: add anyActionParam
  .changeset/fluffy-dolphins-dress.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#210 [ADHOC] add buildClaimData method to Incentives
  .changeset/lazy-guests-tickle.md
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK, changeset

#211 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, EVM, signatures

#212 [BOOST-4821] add `grantManyRoles` and `revokeManyRoles` methods to RBAC
  .changeset/poor-feet-destroy.md
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
Labels: SDK, EVM, changeset

#213 [ADHOC] feat: add manager back to erc20 incentive for raffle
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/sdk/src/Incentives/ERC20Incentive.ts
Labels: SDK, EVM

#216 [ADHOC] chore(sdk): better support for linking,
  .changeset/stale-snakes-search.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite.config.js
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Labels: SDK, changeset

#217 [ADHOC] feat(sdk): mandatory knownSignatures for validation
  .changeset/config.json
  .changeset/curly-rice-cough.md
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
  test/package.json
  test/src/allKnownSignatures.ts
Labels: SDK, examples, changeset

#218 [ADHOC]: add signatures for sound and zora
  .changeset/clean-suits-tie.md
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: changeset, signatures

#214 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, EVM, signatures

#221 [ADHOC] feat(sdk,EventAction): add msgSenderClaimant utility, test
  .changeset/fair-chicken-confess.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#223 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#228 [ADHOC]: add BoostCreated and BoostClaimed events to signatures
  .changeset/real-planes-ring.md
  packages/signatures/manifests/events.json
Labels: changeset, signatures

#230 [ADHOC] fix(sdk,EventAction): must specify chainId during validation to cover all conditional cases
  .changeset/fluffy-foxes-joke.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#227 [ADHOC] feat(sdk): add BoostValidatorEOA enum, default signer to it if none provided during createBoost
  .changeset/rude-planes-hammer.md
  .github/actions/install-dependencies/action.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/verify.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.test.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.test.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  turbo.json
Labels: SDK, examples, changeset

#231 refactor(sdk): erc20variablecriteria extends erc20variable, remove dependence on signatures
  .changeset/tender-crabs-sniff.md
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  pnpm-lock.yaml
Labels: SDK, changeset

#226 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, EVM, signatures

#232 [ADHOC] Fix SignerValidator Signature
  .changeset/ten-horses-sleep.md
  packages/sdk/src/Validators/SignerValidator.ts
Labels: SDK, changeset

#233 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#236 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#238 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#240 [ADHOC] Fix `DecodeLogTopicsMismatch` Error
  .changeset/shaggy-moose-fry.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#246 [ADHOC] refactor(evm): remove unused bytes data in add incentive
  packages/evm/contracts/BoostCore.sol
Labels: EVM

#242 test(evm): create test for signature malleability
  packages/evm/test/validators/SignerValidator.t.sol
Labels: EVM

#241 Version Packages (alpha)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK

#239 [ADHOC] feat: add OR_EQUAL filters to event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, EVM
