Repository boostxyz/boost-protocol, pull requests merged in 2024-09, with the labels that each got.

#94 fix(sdk): build, publish sourcemaps
  .changeset/empty-feet-cheat.md
  packages/sdk/package.json
  packages/sdk/vite.config.js
Labels: SDK

#98 [ADHOC] chore(evm): shadow hardhat in the evm repo
  packages/evm/hardhat_build.config.cjs
  packages/evm/package.json
  packages/evm/wagmi.config.ts
  pnpm-lock.yaml
Labels: EVM

#100 [ADHOC] fix(EventAction): await validation in log criteria check
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK

#104 [BOOST-4686] test delegation to a specific delegate address
  .changeset/wicked-feet-tap.md
  packages/sdk/test/delegate-action.test.ts
  packages/signatures/manifests/events.json
Labels: SDK

#110 [ADHOC] feat: SignerValidator.encodeClaimData API, break up utils.ts
  .changeset/sixty-turtles-taste.md
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

#103 [BOOST-4688] viability testing: register an ENS domain
  .changeset/clever-planets-listen.md
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/ens-register.test.ts
  packages/signatures/manifests/events.json
Labels: SDK

#113 [ADHOC] refactor(sdk,tests): refactor testing api to support same api as non-test usage
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

#119 [ADHOC] update `ERC20VariableIncentive` sdk docs
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK

#112 [ADHOC] feat(sdk): add OpenAllowList as zero config extension of SimpleDenyList
  .changeset/chatty-eagles-collect.md
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/OpenAllowList.test.ts
  packages/sdk/src/AllowLists/OpenAllowList.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/test/helpers.ts
Labels: SDK

#126 [BOOST-4772] Refactor Budget Methods
  .changeset/silver-bobcats-switch.md
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.ts
Labels: SDK

#108 [ADHOC] update zora-fork-test comments
  packages/sdk/test/zora-fork-mint.test.ts
Labels: SDK

#124 [BOOST-4729] fix(evm): make mulitiple CGDA claims impossible
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Labels: EVM

#129 [ADHOC] refactor(sdk): import deployed addresses from evm, utility to pick base addresses off config
  .changeset/shaggy-students-end.md
  examples/next/public/site.webmanifest
  packages/cli/src/commands/deploy.ts
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/ens-register.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
Labels: SDK, EVM
