Repository boostxyz/boost-protocol, pull requests merged in 2024-12, with the labels that each got.

#297 [BOOST-4992] fix `incentive.isClaimable()` throws error
  .changeset/quick-berries-decide.md
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Labels: SDK, changeset

#305 [BOOST-4989] add public methods from `Ownable` to `DeployableTargetWithRBAC`
  .changeset/spicy-monkeys-tease.md
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Labels: SDK, changeset

#304 [ADHOC] Fix block number validation
  .changeset/shiny-pandas-rush.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#296 Version Packages
  .changeset/quick-berries-decide.md
  .changeset/shiny-pandas-rush.md
  .changeset/short-spies-kiss.md
  .changeset/spicy-monkeys-tease.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#303 [BOOST-5061] feat(evm): add events to modules
  packages/evm/contracts/actions/EventAction.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/validators/SignerValidator.sol
Labels: EVM

#308 [ADHOC] Minor Updates for ERC20PeggedIncentive
  .changeset/brave-poems-wait.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, EVM, changeset

#309 Version Packages
  .changeset/brave-poems-wait.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#311 [ADHOC] Build Claim Data for ERC20PeggedIncentive
  .changeset/slow-apricots-heal.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, changeset

#313 Version Packages
  .changeset/heavy-shirts-doubt.md
  .changeset/slow-apricots-heal.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#316 [ADHOC] chore: fix core an registry addresses
  packages/evm/deploys/84532.json
Labels: EVM

#317 chore: add changeset for deployment
  .changeset/hot-points-begin.md
Labels: changeset

#315 Version Packages
  .changeset/hot-points-begin.md
  .changeset/sweet-cougars-live.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#320 Version Packages
  .changeset/shy-wombats-beg.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#323 [ADHOC] chore(evm): sweep the dust in boost core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Labels: EVM

#322 Version Packages
  .changeset/five-numbers-hide.md
  .changeset/tame-lobsters-care.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#325 [ADHOC] test(evm): add fuzz testing for additional fees
  packages/evm/test/BoostCore.t.sol
Labels: EVM

#327 [ADHOC]: add new signatures for coop records
  .changeset/empty-weeks-cross.md
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Labels: changeset, signatures

#328 Version Packages
  .changeset/empty-weeks-cross.md
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: changeset, signatures

#334 Version Packages
  .changeset/five-chicken-float.md
  .changeset/sixty-mirrors-wink.md
  .changeset/strange-parents-lay.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#339 [ADHOC] update pegged incentive bases
  .changeset/sixty-windows-yell.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, changeset

#340 Version Packages
  .changeset/sixty-windows-yell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#341 [ADHOC] add decode method to pegged variable incentive
  .changeset/calm-numbers-add.md
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Labels: SDK, changeset

#343 Version Packages
  .changeset/calm-numbers-add.md
  .changeset/few-pugs-behave.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#346 [ADHOC] add wow event signatures
  .changeset/khaki-squids-compare.md
  packages/signatures/manifests/events.json
Labels: changeset, signatures

#347 Version Packages
  .changeset/khaki-squids-compare.md
  .changeset/wicked-humans-fix.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Labels: SDK, changeset, signatures
