Repository boostxyz/boost-protocol, pull requests merged in 2025-03, with the labels that each got.

#419 [ADHOC] Decode Claim Data Update
  .changeset/clean-parents-laugh.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Labels: SDK, changeset

#420 [BOOST-5352] add valueType to incentiveCriteria Struct
  .changeset/green-clouds-fly.md
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Labels: SDK, EVM, changeset

#425 [ADHOC] feat(evm,sdk): BREAKING erc20variablecriteria v2 upgrade
  .changeset/pre.json
  .changeset/warm-rivers-act.md
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/README.md
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentiveV2.sol
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/sdk/.env.sample
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

#421 [BOOST-5262] feat(sdk): TransparentBudget implementation
  .changeset/fifty-hotels-rhyme.md
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Labels: SDK, EVM, changeset

#422 Version Packages (canary)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#429 Version Packages (canary)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

#431 [ADHOC] Optimism
  .changeset/wicked-grapes-float.md
  packages/evm/broadcast/Deploy.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-latest.json
  packages/evm/deploys/10.json
Labels: EVM, changeset

#432 Version Packages (canary)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM

#433 Version Packages
  .changeset/clean-parents-laugh.md
  .changeset/cool-spiders-notice.md
  .changeset/fifty-hotels-rhyme.md
  .changeset/green-clouds-fly.md
  .changeset/orange-seahorses-chew.md
  .changeset/pre.json
  .changeset/silver-schools-worry.md
  .changeset/strong-masks-smell.md
  .changeset/warm-rivers-act.md
  .changeset/wicked-grapes-float.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset
