Repository boostxyz/boost-protocol, pull requests merged in 2025-01, with the labels that each got.

#355 [BOOST-5140] add `getIncentiveFeesInfo` sdk method to boostcore
  .changeset/mighty-snakes-leave.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

#356 [ADHOC] Add createBoostRaw function
  .changeset/wild-rings-itch.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

#358 [BOOST-5108] fix order of indexed params in events to match abi
  .changeset/bright-kids-pay.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#359 [ADHOC] Add decodeClaimData to ERC20PeggedIncentive
  .changeset/silly-carpets-jog.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Labels: SDK, changeset

#354 Version Packages
  .changeset/bright-kids-pay.md
  .changeset/clean-items-pay.md
  .changeset/empty-monkeys-decide.md
  .changeset/itchy-news-exercise.md
  .changeset/mighty-snakes-leave.md
  .changeset/silly-carpets-jog.md
  .changeset/wild-rings-itch.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#364 [BOOST-5197] update transfer signature logic to allow for deriving claimant
  .changeset/cold-days-yell.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#365 [BOOST-5209] fix: signature event issue address undefined is invalid
  .changeset/cool-turkeys-punch.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#366 Version Packages
  .changeset/breezy-jokes-judge.md
  .changeset/cold-days-yell.md
  .changeset/cool-turkeys-punch.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#372 [ADHOC] fix: prevent transfer abi mutation
  .changeset/smart-falcons-joke.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#375 [BOOST-5213] [SDK] allow for 4byte signatures without padding
  .changeset/proud-pianos-pretend.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#376 [BOOST-5243] [SDK] derive signatureType from selector in eventAction
  .changeset/tame-bikes-run.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#378 [BOOST-5212] [sdk] normalize UNIT hex to intended value
  .changeset/few-grapes-hug.md
  packages/sdk/src/Actions/EventAction.ts
Labels: SDK, changeset

#377 Version Packages
  .changeset/proud-pianos-pretend.md
  .changeset/smart-falcons-joke.md
  .changeset/tame-bikes-run.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#380 Version Packages
  .changeset/few-grapes-hug.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#370 [BOOST-5217] feat(evm): only trigger dust hatch if there is a value amount
  packages/evm/contracts/BoostCore.sol
Labels: EVM

#374 [BOOST-5240] fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Labels: EVM

#373 [BOOST-5223] feat(evm): implement managed budget V2
  packages/evm/contracts/budgets/AManagedBudgetWithFeesV2.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Labels: EVM

#382 Version Packages
  .changeset/stale-ties-know.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset
