Repository boostxyz/boost-protocol, pull requests merged in 2025-02, with the labels that each got.

#384 [ADHOC] fix typo in BoostNotFoundError
  packages/sdk/src/errors.ts
Labels: SDK

#395 Version Packages
  .changeset/beige-peaches-attack.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#396 [ADHOC] Allow overwrite of addresses in BoostCore
  .changeset/late-boxes-sell.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

#397 Version Packages
  .changeset/late-boxes-sell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#398 [ADHOC] hotfix(sdk): make address optional
  packages/sdk/src/BoostCore.ts
Labels: SDK

#400 [ADHOC] Revert #396 & #398
  .changeset/cyan-jokes-play.md
  packages/sdk/src/BoostCore.ts
Labels: SDK, changeset

#401 Version Packages
  .changeset/cyan-jokes-play.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#405 Version Packages
  .changeset/chilled-walls-explode.md
  .changeset/forty-rockets-yell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#407 [ADHOC] fix(sdk): use LimitedSignerValidator base
  .changeset/real-trainers-compete.md
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Labels: SDK, changeset

#408 Version Packages
  .changeset/real-trainers-compete.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset

#409 [ADHOC] Add limited signer valiator interface
  .changeset/tough-actors-cross.md
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Validators/Validator.ts
Labels: SDK, EVM, changeset

#410 Version Packages
  .changeset/tough-actors-cross.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, EVM, changeset

#411 [ADHOC] sign typedData using signer.privateKey
  .changeset/seven-ducks-invite.md
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Labels: SDK, changeset

#412 Version Packages
  .changeset/seven-ducks-invite.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: SDK, changeset
